/* Override this file with custom rules */
a.permalink {
    font-size: .8em;
    vertical-align: text-top;
    visibility: hidden;
}

h1:hover a.permalink, h2:hover a.permalink, h3:hover a.permalink, h4:hover a.permalink,
h5:hover a.permalink, h6:hover a.permalink {
    color: #d7d7d7;
    visibility: visible;
}