/*
 * General
 */
body {
  padding: 0 20px 20px 20px;
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 13px;
}
h1 {
  margin-bottom: .8em;
}
h2,
h3#Examples {
  /*
	html:not(.list) & { text-transform: uppercase; }
	font-size: 3.5em;
	margin-top: 1em;
    color: lighten(@primary, 42%);
    text-shadow: 0 -1px 1.5px rgba(102, 102, 102, 0.9), 0 1px 2px #fff;
    /**/

  margin-top: 1.8em;
  font-size: 1.6em;
}
html:not(.list) h2,
html:not(.list) h3#Examples {
  text-transform: uppercase;
}
html.list h2,
html.list h3#Examples {
  border-bottom: none;
}
h3 {
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 700;
  text-decoration: underline;
}
h3 [data-lang-entity] > :first-child {
  display: none;
}
h3.signature {
  text-decoration: none;
}
h3.signature[data-lang-entity] > a:first-child {
  font-weight: 500;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
h3.signature[data-lang-entity] > pre {
  border-top-left-radius: 0;
  margin-top: -1px;
}
h3#Examples {
  font-weight: 500;
  text-decoration: none;
  margin-left: -40px;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover,
a:not([href]):active {
  background-color: transparent !important;
}
a:not([href])[title] {
  display: inline-block;
  border-bottom: 1px dotted #555;
}
[data-lang-entity] > a:link:first-child,
[data-lang-entity] > a:visited:first-child,
#results a:link,
#results a:visited {
  text-decoration: none;
}
[data-lang-entity] > a:hover:first-child,
[data-lang-entity] > a:active:first-child,
#results a:hover,
#results a:active {
  text-decoration: none;
}
dl {
  margin: 0;
  padding: 0;
}
:not(.overview) > dl dt {
  font-size: 1.1em;
  font-weight: bold;
  margin: .5em 0 0 0;
  padding: 0;
  background-color: 47%;
  background-image: -moz-linear-gradient(-45deg, #d5e5f3 0%, #cde0f1 100%);
  background-image: -webkit-linear-gradient(-45deg, #d5e5f3 0%, #cde0f1 100%);
  background-image: linear-gradient(135deg, #d5e5f3 0%, #cde0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5e5f3', endColorstr='#cde0f1', GradientType=1);
  padding: 3px 5px;
  border-radius: 4px;
}
:not(.overview) > dl dd {
  margin: 0 0 0 1em;
  padding: .5em;
  position: relative;
}
:not(.overview) > dl dd:before {
  position: absolute;
  top: 0.3em;
  left: -1em;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: block;
  margin: 5px auto 10px;
  font-size: .8em;
  content: "\e080";
}
.overview > dl {
  *zoom: 1;
  display: inline-block;
  max-width: 100%;
}
.overview > dl:before,
.overview > dl:after {
  content: " ";
  display: table;
}
.overview > dl:after {
  clear: both;
}
.overview > dl dt,
.overview > dl dd {
  padding: 0.25em 0 0.25em 0;
}
.overview > dl dt {
  float: left;
  clear: left;
  width: 8em;
  text-align: right;
  font-weight: bold;
}
.overview > dl dt:after {
  content: ":";
}
.overview > dl dd {
  margin: 0 0 0 9em;
}
pre {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(-45deg, #fdfdfd 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(-45deg, #fdfdfd 0%, #ededed 100%);
  background-image: linear-gradient(135deg, #fdfdfd 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ededed', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
.highlight pre {
  margin-bottom: 0;
}
pre.console {
  background-color: #121212;
  background-image: -moz-linear-gradient(-45deg, #1a1a1a 0%, #0a0a0a 100%);
  background-image: -webkit-linear-gradient(-45deg, #1a1a1a 0%, #0a0a0a 100%);
  background-image: linear-gradient(135deg, #1a1a1a 0%, #0a0a0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#0a0a0a', GradientType=1);
  color: #fff;
}
.path_label {
  text-align: right;
  display: block;
  margin-right: .7em;
  font-size: .7em;
}
.path_label .label {
  font-size: 1em;
  color: #000;
}
.highlight + .path_label {
  margin-bottom: 2em;
}
html.list {
  background-attachment: fixed;
  background-color: #e5eff8;
  background-image: -moz-linear-gradient(-45deg, #f1f6fb 0%, #d9e8f4 100%);
  background-image: -webkit-linear-gradient(-45deg, #f1f6fb 0%, #d9e8f4 100%);
  background-image: linear-gradient(135deg, #f1f6fb 0%, #d9e8f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6fb', endColorstr='#d9e8f4', GradientType=1);
}
html.list body {
  padding: 15px;
  background-color: transparent;
}
html:not(.list) {
  background-color: #f1f6fb;
  background-image: -moz-linear-gradient(-45deg, #f5f9fc 0%, #edf4fa 100%);
  background-image: -webkit-linear-gradient(-45deg, #f5f9fc 0%, #edf4fa 100%);
  background-image: linear-gradient(135deg, #f5f9fc 0%, #edf4fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f9fc', endColorstr='#edf4fa', GradientType=1);
}
html:not(.list) body {
  padding: 5px 25px 25px 25px;
  background-color: transparent;
}
html:not(.list) #toc {
  position: fixed;
  top: 15px;
  right: 285px;
  max-height: 93%;
  width: 250px;
  margin-right: -270px;
  overflow-y: auto;
  background-color: #e5eff8;
  background-image: -moz-linear-gradient(-45deg, #f1f6fb 0%, #d9e8f4 100%);
  background-image: -webkit-linear-gradient(-45deg, #f1f6fb 0%, #d9e8f4 100%);
  background-image: linear-gradient(135deg, #f1f6fb 0%, #d9e8f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f6fb', endColorstr='#d9e8f4', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
html:not(.list) #toc .title {
  display: none;
  text-transform: uppercase;
  color: #c9def0;
  text-shadow: 0 -1px 1px rgba(102, 102, 102, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5);
  font-size: 2.1em;
  text-align: center;
  margin: -0.39em 0 0 -0.9em;
  -webkit-mask-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), #000000);
  mask-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.5), #000000);
}
html:not(.list) #toc ol {
  list-style: none;
  padding: 0;
}
html:not(.list) #toc ol li {
  position: relative;
}
html:not(.list) #toc ol li a {
  margin: 0;
  padding: 1em 2.5em 1em 2.5em;
  display: block;
  text-transform: uppercase;
  color: #7aadd9;
  text-shadow: 0 -1px 1px rgba(102, 102, 102, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5);
}
html:not(.list) #toc ol li a:hover,
html:not(.list) #toc ol li a:active {
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
html:not(.list) #toc ol li a:before,
html:not(.list) #toc ol li a:after {
  position: absolute;
  top: 1.1em;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: block;
  margin: 5px auto 10px;
  font-size: .8em;
}
html:not(.list) #toc ol li a:before {
  left: 1.5em;
  content: "\e080";
}
html:not(.list) #toc ol li.active a {
  color: #000;
}
html:not(.list) #toc ol li.top a {
  text-align: center;
  border-bottom: 1px solid #d5e5f3;
}
html:not(.list) #toc ol li.top a:before,
html:not(.list) #toc ol li.top a:after {
  content: "\e113";
}
html:not(.list) #toc ol li.top a:before {
  margin-left: 5em;
}
html:not(.list) #toc ol li.top a:after {
  margin-right: 5em;
  right: 1.5em;
}
html:not(.list) #toc ol li.top.active a {
  border-bottom: 1px solid #d5e5f3;
}
html:not(.list) #toc ol li.top.active a:before {
  content: "\e080";
}
html:not(.list) #toc ol li.top.active a:after {
  content: "\e079";
}
html:not(.list) #content {
  margin-right: 330px;
}
.description {
  margin: 1em 0;
}
:not(h2) + .method_details {
  margin-top: 3em;
}
.method_details + * {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
}
.signature {
  font-size: 1.2em;
  font-weight: normal;
  font-family: Monaco, Consolas, Courier, monospace;
  padding: 0;
  margin: 1em 0;
}
.signature tt {
  font-family: Monaco, Consolas, Courier, monospace;
}
.signature .overload {
  display: block;
}
.signature .extras {
  font-weight: normal;
  font-family: sans-serif;
  color: #444;
  font-size: 1em;
}
.signature .aliases {
  display: block;
  font-weight: normal;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-top: 0px;
  color: #555;
}
.signature .aliases .names {
  font-family: Monaco, Consolas, Courier, monospace;
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}
ul.summary {
  list-style: none;
  line-height: 1.5em;
}
ul.summary li {
  margin-bottom: 5px;
}
ul.summary li .summary_signature {
  padding: 1px 0;
  /*
            .bg-gradient(@primary, 48%);
            .border-radius(4px);
            .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
            
            &:hover {
                .bg-gradient(@primary, 43%);
                cursor: pointer;
            }
            /**/

}
ul.summary li .summary_desc {
  margin-left: 32px;
  display: block;
}
ul.summary li .summary_desc tt {
  font-size: 0.9em;
}
ul.summary.compact li {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  line-height: 2em;
}
ul.summary.compact li .summary_signature {
  padding-right: 4px;
}
ul.summary li.deprecated .summary_signature a:link,
ul.summary li.deprecated .summary_signature a:visited {
  text-decoration: line-through;
  font-style: italic;
}
.tags {
  margin-bottom: 12px;
}
.tags .tag_title {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}
.tags ul {
  margin-top: 5px;
  padding-left: 30px;
  list-style: none;
}
.tags ul li {
  margin-bottom: 3px;
  position: relative;
}
.tags ul li:before {
  position: absolute;
  left: -20px;
  top: -1px;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: block;
  margin: 5px auto 10px;
  font-size: .8em;
  content: "\e080";
}
.tags ul .name {
  font-family: monospace;
  font-weight: bold;
}
.tags ul .note {
  padding: 3px 6px;
}
.tags .examples .tag_title {
  margin-bottom: 10px;
  font-weight: bold;
}
.tags .examples .inline p {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.9em;
}
.tags .overload .overload_item {
  list-style: none;
  margin-bottom: 25px;
}
.tags .overload .overload_item .signature {
  padding: 2px 8px;
  background: #e5e8ff;
  border: 1px solid #d8d8e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tags .overload .signature {
  margin-left: -15px;
  font-family: monospace;
  display: block;
  font-size: 1.1em;
}
.tags .overload .docstring {
  margin-top: 15px;
}
ul.params {
  list-style-type: none;
}
html:not(.list) #content > *,
html:not(.list) #content div.docstring,
html:not(.list) #content div.method_details,
html:not(.list) #content div.tags,
html:not(.list) #content div[data-lang-entity-container] > * {
  padding-left: 40px;
}
html:not(.list) #content > h1,
html:not(.list) #content > h2,
html:not(.list) #content div,
html:not(.list) #content div[data-lang-entity-container] > h2 {
  padding-left: 0;
}
/*
 * Tooltip
 */
.tooltip .tooltip-inner {
  font-weight: 500;
  padding-bottom: 6px;
}
/*
 * Popover
 */
.popover {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
}
.popover .popover-title {
  padding: 1px 5px;
  position: absolute;
  left: -1px;
  top: -17px;
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  background-color: #f00;
  border: 1px solid #999;
  color: #fff;
}
.popover .popover-content {
  padding: 4px 5px;
}
.popover .popover-content p:last-child {
  margin-bottom: 0;
}
.popover .popover-content .description {
  margin: 0;
}
.popover .popover-content .more {
  margin-top: 1em;
  font-style: italic;
}
/*
 * Search
 */
#search {
  margin: 10px 10px 20px 10px;
  /* nur notwendig, wenn nicht dropdown-filter sondern toggle-buttons
	.btn-group {
		&:first-child {
			
			label:first-child {
				border-bottom-left-radius: 0 !important;
			}
			
			label:last-child {
				border-bottom-right-radius: 0 !important;
			}
		}

		&:not(:first-child):not(:last-child) {
			label:first-child {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
			
			label:last-child {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
		
		&:last-child {
			label:first-child {
				border-top-left-radius: 0 !important;
			}
			
			label:last-child {
				border-top-right-radius: 0 !important;
			}
		}
	}
	*/

}
#search .pre-action {
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 30px 0px 30px 130px;
  background-image: url(file:///Users/bkahlert/Dropbox/development/seqan-workspace/seqan-trunk/util/py_lib/seqan/dox/tpl/css/../img/seqan_logo.png);
  background-size: 114px 76px;
  background-repeat: no-repeat;
  background-position: 0 3px;
}
#search .pre-action .replace {
  display: none;
}
#search .pre-action h1 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}
#search [type=search] {
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGc%2BCgk8cG9seWdvbiBmaWxsPSIjNjY2IiBwb2ludHM9IjkuMjA3LDYuMTI2IDcuNzkzLDcuNTQxIDExLjc5MywxMS41NDEgMTMuMjA3LDEwLjEyNiIgLz4KCTxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik01LjkxNywyYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsNy44MzMsNS45MTcsNy44MzNTMyw2LjUyNSwzLDQuOTE3UzQuMzA4LDIsNS45MTcsMgoJCSBNNS45MTcsMEMzLjIwMSwwLDEsMi4yMDEsMSw0LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMi4yMDEsOC42MzIsMCw1LjkxNywwTDUuOTE3LDB6IiAvPgo8L2c%2BCjwvc3ZnPgo%3D');
  background-position: -24px 10px;
}
#search .btn {
  font-weight: 700;
  color: #fff;
}
#search .btn:hover {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.225);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.225);
  color: #fff;
}
#search .btn:active,
#search .btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.45);
  color: #eee;
}
#results > ol {
  padding: 0;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
#results > ol li.result {
  background: transparent;
  margin: 10px 0;
  list-style: none;
}
#results > ol li.result span[data-lang-entity] {
  padding: 5px;
}
#results > ol li.result span[data-lang-entity] > *:last-child {
  width: 100%;
  padding-left: 0.3em;
}
#results > ol li.result span[data-lang-entity]:hover {
  background-color: #3276b1;
  border-radius: 4px;
}
#results > ol li.result span[data-lang-entity]:hover a {
  color: #fff;
}
#results > ol li.result h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
#results > ol li.result div {
  display: none;
}
/*
 * Language Entities
 */
form .multiselect-container li[class=all] label {
  color: #000;
}
form .multiselect-container li[class=all] a {
  background: -webkit-linear-gradient(-55deg, #f8dada, #f8f0da, #e9f8da, #daf8e2, #daf8f8, #dae2f8, #e9daf8, #f8daf0);
  background: -moz-linear-gradient(-55deg, #f8dada, #f8f0da, #e9f8da, #daf8e2, #daf8f8, #dae2f8, #e9daf8, #f8daf0);
  background: linear-gradient(-55deg, #f8dada, #f8f0da, #e9f8da, #daf8e2, #daf8f8, #dae2f8, #e9daf8, #f8daf0);
}
form .multiselect-container li[class=all] a:hover {
  background: -webkit-linear-gradient(-55deg, #e78585, #e7ce85, #b6e785, #85e79e, #85e7e7, #859ee7, #b685e7, #e785ce);
  background: -moz-linear-gradient(-55deg, #e78585, #e7ce85, #b6e785, #85e79e, #85e7e7, #859ee7, #b685e7, #e785ce);
  background: linear-gradient(-55deg, #e78585, #e7ce85, #b6e785, #85e79e, #85e7e7, #859ee7, #b685e7, #e785ce);
}
form .multiselect-container li:not([class]) {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
}
form .multiselect-container li:not([class]) label {
  font-weight: 700;
}
form .multiselect-container li:not([class]):hover {
  background-color: #000;
  color: #fff;
}
form .multiselect-container li.active a {
  background-color: #fff;
}
form .multiselect-container label {
  color: #fff;
  padding: 0.1em 0.5em 0.1em 0.45em;
  margin: .2em .2em .2em 1em !important;
  border-radius: .25em !important;
  display: inline-block;
}
form .multiselect-container label input {
  margin-left: -30px !important;
}
form .multiselect-container label .multiselect-group {
  padding-left: 0.5em;
}
[data-lang-entity],
.data-lang-entity-example {
  position: relative;
  white-space: nowrap;
}
[data-lang-entity] > :first-child,
.data-lang-entity-example > :first-child {
  display: inline-block;
  position: relative;
  bottom: 0.15em;
  padding: .2em .6em .3em;
  margin: 0 0.3em 0 0.2em;
  font-size: .75em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid #f00;
  background-color: #f00000;
  cursor: help;
}
[data-lang-entity] > :first-child:hover,
.data-lang-entity-example > :first-child:hover {
  -webkit-animation: animation1 1.5s linear 0s infinite alternate;
  animation: animation1 1.5s linear 0s infinite alternate;
}
h1[data-lang-entity],
h1.data-lang-entity-example {
  display: table;
}
h1[data-lang-entity] > *,
h1.data-lang-entity-example > * {
  display: table-cell;
}
h1[data-lang-entity] :nth-child(2),
h1.data-lang-entity-example :nth-child(2) {
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
h1[data-lang-entity] :nth-child(2) > div,
h1.data-lang-entity-example :nth-child(2) > div {
  margin-top: .3em;
  font-size: .5em;
  white-space: normal;
}
h1[data-lang-entity] :nth-child(2) > div [data-lang-entity] > :first-child,
h1.data-lang-entity-example :nth-child(2) > div [data-lang-entity] > :first-child {
  font-size: .55em;
  top: -0.4em;
}
h1[data-lang-entity] :nth-child(2) > div > [data-lang-entity]:first-child > :first-child,
h1.data-lang-entity-example :nth-child(2) > div > [data-lang-entity]:first-child > :first-child {
  margin-left: 0;
}
.data-lang-entity-example > :first-child {
  background: #5b7cde;
  border-color: #2347b0;
}
div.language_entities div[data-lang-entity-container] + div[data-lang-entity-container] {
  margin-top: 2em;
}
div.language_entities *[data-lang-entity-container=typedef] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=typedef] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bde7c;
  background-image: -moz-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: linear-gradient(135deg, #68e186 0%, #4edb72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e186', endColorstr='#4edb72', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=typedef] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=typedef] > *:first-child {
  background-color: #5bde7c;
  border-color: #46da6b;
}
*[data-lang-entity-container=typedef] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bde7c;
  border: 1px solid #46da6b;
}
.popover[data-lang-entity-container=typedef] .popover-title {
  background-color: #5bde7c;
}
div.language_entities *[data-lang-entity-container=grouped_typedef] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=grouped_typedef] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bde7c;
  background-image: -moz-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: linear-gradient(135deg, #68e186 0%, #4edb72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e186', endColorstr='#4edb72', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=grouped_typedef] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=grouped_typedef] > *:first-child {
  background-color: #5bde7c;
  border-color: #46da6b;
}
*[data-lang-entity-container=grouped_typedef] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bde7c;
  border: 1px solid #46da6b;
}
.popover[data-lang-entity-container=grouped_typedef] .popover-title {
  background-color: #5bde7c;
}
div.language_entities *[data-lang-entity-container=global_typedef] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=global_typedef] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bde7c;
  background-image: -moz-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: linear-gradient(135deg, #68e186 0%, #4edb72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e186', endColorstr='#4edb72', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=global_typedef] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=global_typedef] > *:first-child {
  background-color: #5bde7c;
  border-color: #46da6b;
}
*[data-lang-entity-container=global_typedef] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bde7c;
  border: 1px solid #46da6b;
}
.popover[data-lang-entity-container=global_typedef] .popover-title {
  background-color: #5bde7c;
}
div.language_entities *[data-lang-entity-container=member_typedef] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=member_typedef] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bde7c;
  background-image: -moz-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e186 0%, #4edb72 100%);
  background-image: linear-gradient(135deg, #68e186 0%, #4edb72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e186', endColorstr='#4edb72', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=member_typedef] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=member_typedef] > *:first-child {
  background-color: #5bde7c;
  border-color: #46da6b;
}
*[data-lang-entity-container=member_typedef] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bde7c;
  border: 1px solid #46da6b;
}
.popover[data-lang-entity-container=member_typedef] .popover-title {
  background-color: #5bde7c;
}
div.language_entities *[data-lang-entity-container=concept] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=concept] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #b02323;
  background-image: -moz-linear-gradient(-45deg, #bc2626 0%, #a32121 100%);
  background-image: -webkit-linear-gradient(-45deg, #bc2626 0%, #a32121 100%);
  background-image: linear-gradient(135deg, #bc2626 0%, #a32121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc2626', endColorstr='#a32121', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=concept] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=concept] > *:first-child {
  background-color: #b02323;
  border-color: #9a1f1f;
}
*[data-lang-entity-container=concept] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #b02323;
  border: 1px solid #9a1f1f;
}
.popover[data-lang-entity-container=concept] .popover-title {
  background-color: #b02323;
}
div.language_entities *[data-lang-entity-container=class] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=class] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #de5b5b;
  background-image: -moz-linear-gradient(-45deg, #e16868 0%, #db4e4e 100%);
  background-image: -webkit-linear-gradient(-45deg, #e16868 0%, #db4e4e 100%);
  background-image: linear-gradient(135deg, #e16868 0%, #db4e4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e16868', endColorstr='#db4e4e', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=class] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=class] > *:first-child {
  background-color: #de5b5b;
  border-color: #da4646;
}
*[data-lang-entity-container=class] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #de5b5b;
  border: 1px solid #da4646;
}
.popover[data-lang-entity-container=class] .popover-title {
  background-color: #de5b5b;
}
div.language_entities *[data-lang-entity-container=enum] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=enum] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #efb0b0;
  background-image: -moz-linear-gradient(-45deg, #f2bdbd 0%, #eda3a3 100%);
  background-image: -webkit-linear-gradient(-45deg, #f2bdbd 0%, #eda3a3 100%);
  background-image: linear-gradient(135deg, #f2bdbd 0%, #eda3a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2bdbd', endColorstr='#eda3a3', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=enum] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=enum] > *:first-child {
  background-color: #efb0b0;
  border-color: #eb9b9b;
}
*[data-lang-entity-container=enum] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #efb0b0;
  border: 1px solid #eb9b9b;
}
.popover[data-lang-entity-container=enum] .popover-title {
  background-color: #efb0b0;
}
div.language_entities *[data-lang-entity-container=metafunction] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=metafunction] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5b7cde;
  background-image: -moz-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: -webkit-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: linear-gradient(135deg, #6886e1 0%, #4e72db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6886e1', endColorstr='#4e72db', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=metafunction] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=metafunction] > *:first-child {
  background-color: #5b7cde;
  border-color: #466bda;
}
*[data-lang-entity-container=metafunction] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5b7cde;
  border: 1px solid #466bda;
}
.popover[data-lang-entity-container=metafunction] .popover-title {
  background-color: #5b7cde;
}
div.language_entities *[data-lang-entity-container=global_metafunction] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=global_metafunction] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5b7cde;
  background-image: -moz-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: -webkit-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: linear-gradient(135deg, #6886e1 0%, #4e72db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6886e1', endColorstr='#4e72db', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=global_metafunction] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=global_metafunction] > *:first-child {
  background-color: #5b7cde;
  border-color: #466bda;
}
*[data-lang-entity-container=global_metafunction] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5b7cde;
  border: 1px solid #466bda;
}
.popover[data-lang-entity-container=global_metafunction] .popover-title {
  background-color: #5b7cde;
}
div.language_entities *[data-lang-entity-container=interface_metafunction] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=interface_metafunction] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5b7cde;
  background-image: -moz-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: -webkit-linear-gradient(-45deg, #6886e1 0%, #4e72db 100%);
  background-image: linear-gradient(135deg, #6886e1 0%, #4e72db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6886e1', endColorstr='#4e72db', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=interface_metafunction] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=interface_metafunction] > *:first-child {
  background-color: #5b7cde;
  border-color: #466bda;
}
*[data-lang-entity-container=interface_metafunction] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5b7cde;
  border: 1px solid #466bda;
}
.popover[data-lang-entity-container=interface_metafunction] .popover-title {
  background-color: #5b7cde;
}
div.language_entities *[data-lang-entity-container=function] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=function] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bdede;
  background-image: -moz-linear-gradient(-45deg, #68e1e1 0%, #4edbdb 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e1e1 0%, #4edbdb 100%);
  background-image: linear-gradient(135deg, #68e1e1 0%, #4edbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e1e1', endColorstr='#4edbdb', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=function] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=function] > *:first-child {
  background-color: #5bdede;
  border-color: #46dada;
}
*[data-lang-entity-container=function] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bdede;
  border: 1px solid #46dada;
}
.popover[data-lang-entity-container=function] .popover-title {
  background-color: #5bdede;
}
div.language_entities *[data-lang-entity-container=global_function] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=global_function] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #85e7e7;
  background-image: -moz-linear-gradient(-45deg, #92e9e9 0%, #79e4e4 100%);
  background-image: -webkit-linear-gradient(-45deg, #92e9e9 0%, #79e4e4 100%);
  background-image: linear-gradient(135deg, #92e9e9 0%, #79e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92e9e9', endColorstr='#79e4e4', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=global_function] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=global_function] > *:first-child {
  background-color: #85e7e7;
  border-color: #70e2e2;
}
*[data-lang-entity-container=global_function] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #85e7e7;
  border: 1px solid #70e2e2;
}
.popover[data-lang-entity-container=global_function] .popover-title {
  background-color: #85e7e7;
}
div.language_entities *[data-lang-entity-container=interface_function] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=interface_function] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #23b0b0;
  background-image: -moz-linear-gradient(-45deg, #26bcbc 0%, #21a3a3 100%);
  background-image: -webkit-linear-gradient(-45deg, #26bcbc 0%, #21a3a3 100%);
  background-image: linear-gradient(135deg, #26bcbc 0%, #21a3a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26bcbc', endColorstr='#21a3a3', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=interface_function] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=interface_function] > *:first-child {
  background-color: #23b0b0;
  border-color: #1f9a9a;
}
*[data-lang-entity-container=interface_function] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #23b0b0;
  border: 1px solid #1f9a9a;
}
.popover[data-lang-entity-container=interface_function] .popover-title {
  background-color: #23b0b0;
}
div.language_entities *[data-lang-entity-container=member_function] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=member_function] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #5bdede;
  background-image: -moz-linear-gradient(-45deg, #68e1e1 0%, #4edbdb 100%);
  background-image: -webkit-linear-gradient(-45deg, #68e1e1 0%, #4edbdb 100%);
  background-image: linear-gradient(135deg, #68e1e1 0%, #4edbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68e1e1', endColorstr='#4edbdb', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=member_function] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=member_function] > *:first-child {
  background-color: #5bdede;
  border-color: #46dada;
}
*[data-lang-entity-container=member_function] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #5bdede;
  border: 1px solid #46dada;
}
.popover[data-lang-entity-container=member_function] .popover-title {
  background-color: #5bdede;
}
div.language_entities *[data-lang-entity-container=tag] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=tag] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #9d5bde;
  background-image: -moz-linear-gradient(-45deg, #a568e1 0%, #954edb 100%);
  background-image: -webkit-linear-gradient(-45deg, #a568e1 0%, #954edb 100%);
  background-image: linear-gradient(135deg, #a568e1 0%, #954edb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a568e1', endColorstr='#954edb', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=tag] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=tag] > *:first-child {
  background-color: #9d5bde;
  border-color: #9046da;
}
*[data-lang-entity-container=tag] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #9d5bde;
  border: 1px solid #9046da;
}
.popover[data-lang-entity-container=tag] .popover-title {
  background-color: #9d5bde;
}
div.language_entities *[data-lang-entity-container=variable] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=variable] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #9dde5b;
  background-image: -moz-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: -webkit-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: linear-gradient(135deg, #a5e168 0%, #95db4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e168', endColorstr='#95db4e', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=variable] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=variable] > *:first-child {
  background-color: #9dde5b;
  border-color: #90da46;
}
*[data-lang-entity-container=variable] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #9dde5b;
  border: 1px solid #90da46;
}
.popover[data-lang-entity-container=variable] .popover-title {
  background-color: #9dde5b;
}
div.language_entities *[data-lang-entity-container=global_variable] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=global_variable] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #9dde5b;
  background-image: -moz-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: -webkit-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: linear-gradient(135deg, #a5e168 0%, #95db4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e168', endColorstr='#95db4e', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=global_variable] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=global_variable] > *:first-child {
  background-color: #9dde5b;
  border-color: #90da46;
}
*[data-lang-entity-container=global_variable] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #9dde5b;
  border: 1px solid #90da46;
}
.popover[data-lang-entity-container=global_variable] .popover-title {
  background-color: #9dde5b;
}
div.language_entities *[data-lang-entity-container=local_variable] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=local_variable] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #9dde5b;
  background-image: -moz-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: -webkit-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: linear-gradient(135deg, #a5e168 0%, #95db4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e168', endColorstr='#95db4e', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=local_variable] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=local_variable] > *:first-child {
  background-color: #9dde5b;
  border-color: #90da46;
}
*[data-lang-entity-container=local_variable] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #9dde5b;
  border: 1px solid #90da46;
}
.popover[data-lang-entity-container=local_variable] .popover-title {
  background-color: #9dde5b;
}
div.language_entities *[data-lang-entity-container=member_variable] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=member_variable] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #9dde5b;
  background-image: -moz-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: -webkit-linear-gradient(-45deg, #a5e168 0%, #95db4e 100%);
  background-image: linear-gradient(135deg, #a5e168 0%, #95db4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e168', endColorstr='#95db4e', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=member_variable] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=member_variable] > *:first-child {
  background-color: #9dde5b;
  border-color: #90da46;
}
*[data-lang-entity-container=member_variable] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #9dde5b;
  border: 1px solid #90da46;
}
.popover[data-lang-entity-container=member_variable] .popover-title {
  background-color: #9dde5b;
}
div.language_entities *[data-lang-entity-container=adaption] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=adaption] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #d5ac31;
  background-image: -moz-linear-gradient(-45deg, #d8b13d 0%, #cda429 100%);
  background-image: -webkit-linear-gradient(-45deg, #d8b13d 0%, #cda429 100%);
  background-image: linear-gradient(135deg, #d8b13d 0%, #cda429 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8b13d', endColorstr='#cda429', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=adaption] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=adaption] > *:first-child {
  background-color: #d5ac31;
  border-color: #c59d28;
}
*[data-lang-entity-container=adaption] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #d5ac31;
  border: 1px solid #c59d28;
}
.popover[data-lang-entity-container=adaption] .popover-title {
  background-color: #d5ac31;
}
div.language_entities *[data-lang-entity-container=macro] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=macro] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #e7ce85;
  background-image: -moz-linear-gradient(-45deg, #e9d392 0%, #e4c979 100%);
  background-image: -webkit-linear-gradient(-45deg, #e9d392 0%, #e4c979 100%);
  background-image: linear-gradient(135deg, #e9d392 0%, #e4c979 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9d392', endColorstr='#e4c979', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=macro] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=macro] > *:first-child {
  background-color: #e7ce85;
  border-color: #e2c670;
}
*[data-lang-entity-container=macro] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #e7ce85;
  border: 1px solid #e2c670;
}
.popover[data-lang-entity-container=macro] .popover-title {
  background-color: #e7ce85;
}
div.language_entities *[data-lang-entity-container=page] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=page] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #d531ac;
  background-image: -moz-linear-gradient(-45deg, #d83db1 0%, #cd29a4 100%);
  background-image: -webkit-linear-gradient(-45deg, #d83db1 0%, #cd29a4 100%);
  background-image: linear-gradient(135deg, #d83db1 0%, #cd29a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d83db1', endColorstr='#cd29a4', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=page] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=page] > *:first-child {
  background-color: #d531ac;
  border-color: #c5289d;
}
*[data-lang-entity-container=page] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #d531ac;
  border: 1px solid #c5289d;
}
.popover[data-lang-entity-container=page] .popover-title {
  background-color: #d531ac;
}
html:not(.list) [data-lang-entity=page] > *:first-child {
  display: none;
}
div.language_entities *[data-lang-entity-container=group] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=group] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #e785ce;
  background-image: -moz-linear-gradient(-45deg, #e992d3 0%, #e479c9 100%);
  background-image: -webkit-linear-gradient(-45deg, #e992d3 0%, #e479c9 100%);
  background-image: linear-gradient(135deg, #e992d3 0%, #e479c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e992d3', endColorstr='#e479c9', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=group] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=group] > *:first-child {
  background-color: #e785ce;
  border-color: #e270c6;
}
*[data-lang-entity-container=group] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #e785ce;
  border: 1px solid #e270c6;
}
.popover[data-lang-entity-container=group] .popover-title {
  background-color: #e785ce;
}
html:not(.list) [data-lang-entity=group] > *:first-child {
  display: none;
}
div.language_entities *[data-lang-entity-container=generic] [data-lang-entity-ideogram] {
  white-space: nowrap;
}
div.language_entities *[data-lang-entity-container=generic] [data-lang-entity-ideogram]:before {
  text-transform: none;
  display: block;
  float: left;
  padding: .0em .5em .2em .5em;
  font-size: .87em;
  content: attr(data-lang-entity-ideogram);
  background-color: #999999;
  background-image: -moz-linear-gradient(-45deg, #a1a1a1 0%, #919191 100%);
  background-image: -webkit-linear-gradient(-45deg, #a1a1a1 0%, #919191 100%);
  background-image: linear-gradient(135deg, #a1a1a1 0%, #919191 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a1a1', endColorstr='#919191', GradientType=1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin-right: .3em;
}
div.language_entities *[data-lang-entity-container=generic] dt {
  padding: 0;
  background-color: transparent;
  background-image: none;
  font-size: 1.0em;
}
[data-lang-entity=generic] > *:first-child {
  background-color: #999999;
  border-color: #8c8c8c;
}
*[data-lang-entity-container=generic] label {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  background-color: #999999;
  border: 1px solid #8c8c8c;
}
.popover[data-lang-entity-container=generic] .popover-title {
  background-color: #999999;
}
html [data-lang-entity=generic] > *:first-child,
html .popover[data-lang-entity-container=generic] .popover-title,
div.language_entities [data-lang-entity-container=generic] [data-lang-entity-ideogram]:before {
  background: -moz-linear-gradient(-45deg, #d93f3f 0%, #d9b23f 14%, #8cd93f 29%, #3fd966 43%, #3fd9d9 57%, #3f66d9 71%, #8c3fd9 86%, #d93fb2 100%);
  /* FF3.6+ */

  background: -webkit-linear-gradient(transparent, transparent), -webkit-gradient(linear, left top, right bottom, color-stop(0%, #d93f3f), color-stop(14%, #d9b23f), color-stop(29%, #8cd93f), color-stop(43%, #3fd966), color-stop(57%, #3fd9d9), color-stop(71%, #3f66d9), color-stop(86%, #8c3fd9), color-stop(100%, #d93fb2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(-45deg, #d93f3f 0%, #d9b23f 14%, #8cd93f 29%, #3fd966 43%, #3fd9d9 57%, #3f66d9 71%, #8c3fd9 86%, #d93fb2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #d93f3f 0%, #d9b23f 14%, #8cd93f 29%, #3fd966 43%, #3fd9d9 57%, #3f66d9 71%, #8c3fd9 86%, #d93fb2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #d93f3f 0%, #d9b23f 14%, #8cd93f 29%, #3fd966 43%, #3fd9d9 57%, #3f66d9 71%, #8c3fd9 86%, #d93fb2 100%);
  /* IE10+ */

  background: linear-gradient(135deg, #d93f3f 0%, #d9b23f 14%, #8cd93f 29%, #3fd966 43%, #3fd9d9 57%, #3f66d9 71%, #8c3fd9 86%, #d93fb2 100%);
  /* W3C */

}
/*
 * Fixes
 */
.tooltip p:first-child {
  margin-top: 0.7em;
}
.input-group-btn.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
@-webkit-keyframes animation1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}
@-o-keyframes animation1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}
@keyframes animation1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.65;
  }
}
