@import '../lib/3L/3L';

@primary: #3276b1;

@red: #de5b5b;
@orange: #debd5b;
@lgreen: #9dde5b;
@rgreen: #5bde7c;
@lblue: #5bdede;
@rblue: #5b7cde;
@purple: #9d5bde;
@pink: #de5bbd;

.bg-gradient(@color-start, @color-end, @color-default) {
    .diagonal-gradient (@color-start, @color-end, @color-default);
}

.bg-gradient(@color, @lightenBy) {
    .diagonal-gradient (lighten(@color, @lightenBy + 3%), lighten(@color, @lightenBy - 3%), lighten(@color, @lightenBy));
}

.bg-gradient() {
    .bg-gradient(@primary, 49%);
}

.inset-box() {
    .bg-gradient();
	.border-radius(4px);
	.box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1))
}



/*
 * General
 */
body {
	padding: 0 20px 20px 20px;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 13px;
}

h1 {
	margin-bottom: .8em;
}

h2,
h3#Examples {  // DIRTY! Just make it h2!
	//border-bottom: 1px solid #999;
	
	/*
	html:not(.list) & { text-transform: uppercase; }
	font-size: 3.5em;
	margin-top: 1em;
    color: lighten(@primary, 42%);
    text-shadow: 0 -1px 1.5px rgba(102, 102, 102, 0.9), 0 1px 2px #fff;
    /**/
    
    margin-top: 1.8em;
    font-size: 1.6em;
    html:not(.list) & { text-transform: uppercase; }
	
	html.list & {
		border-bottom: none;
	}
}

h3 {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: 700;
	text-decoration: underline;
	
	[data-lang-entity] > :first-child { display: none; }
    
    &.signature {
        text-decoration: none;
        
        &[data-lang-entity] {
            > a:first-child { font-weight: 500; margin: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
            > pre { border-top-left-radius: 0; margin-top: -1px; }
        }
    }
    
    &#Examples { // DIRTY! Just make it h2!
        font-weight: 500;
        text-decoration: none;
        margin-left: -40px;
    }
}

a:not([href]) {
	color: inherit;
	text-decoration: none;
	
	&:hover, &:active {
		background-color: transparent !important;
	}
}

a:link,
a:visited {
    [data-lang-entity] > &:first-child,
    #results & {
        text-decoration: none;
    }
}

a:hover,
a:active {
    [data-lang-entity] > &:first-child,
    #results & {
        text-decoration: none;
    }
}

dl {
	margin: 0;
	padding: 0;
	
	:not(.overview) > & {
		dt {
			font-size: 1.1em;
			font-weight: bold;
			margin: .5em 0 0 0;
			padding: 0;
			.bg-gradient(lighten(@primary, 45%), lighten(@primary, 43%), 47%);
			padding: 3px 5px;
			border-radius: 4px;
		}

		dd {
			margin: 0 0 0 1em;
			padding: .5em;
			position: relative;
		
			&:before {
				position: absolute;
				top: 0.3em;
				left: -1em;
				font-family: 'Glyphicons Halflings';
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				display: block;
				margin: 5px auto 10px;
				font-size: .8em;
				content: "\e080";
			}
		}
	}
	
	.overview > & {
		.clearfix();
		display: inline-block;
		max-width: 100%;
		
		dt, dd {
			padding: 0.25em 0 0.25em 0;
		}
		
		dt {
			float: left;
			clear: left;
			width: 8em;
			text-align: right;
			font-weight: bold;
    
			&:after {
				content: ":";
			}
		}

		dd {
			margin: 0 0 0 9em;
		}
	}
}

pre {
    .bg-gradient(#f5f5f5, 0%);
    .border-radius(4px);
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
    
    .highlight & {
    	margin-bottom: 0;
    }
    
    &.console {
        .bg-gradient(#000, 7%);
        color: #fff;
    }
}

.path_label {
	text-align: right;
	display: block;
	margin-right: .7em;
	
	font-size: .7em;
	
	.label { font-size: 1em; color: #000; }
	
	.highlight + & {
		margin-bottom: 2em;
	}
}

html.list {
	body {
		padding: 15px;
		background-color: transparent;
	}
	background-attachment: fixed;
	.bg-gradient();
}

html:not(.list) {
	body {
		padding: 5px 25px 25px 25px;
		background-color: transparent;
	}
	.diagonal-gradient (lighten(@primary, 53%), lighten(@primary, 51%), lighten(@primary, 52%));
	
	@toc-width: 250px;

	#toc {
		position: fixed;
		top: 15px;
		right: @toc-width+35px;
		max-height: 93%;
		width: @toc-width;
		margin-right: -(@toc-width+20px);
		overflow-y: scroll;
		
        .bg-gradient();
        .border-radius(4px);
    	.box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
		
        .title {
            display: none;
            text-transform: uppercase;
            color: lighten(@primary, 42%);
            text-shadow: 0 -1px 1px rgba(102, 102, 102, 0.5), 0 1px 1px rgba(255,255,255,0.5);
            font-size: 2.1em;
            text-align: center;
            margin: -.39em 0 0 -.9em;
                        
             -webkit-mask-image: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.5), black); 
             mask-image: linear-gradient(-45deg, rgba(0,0,0,0.5), black);
	    }
		
		ol {
		    list-style: none;
    	    padding: 0;
    	    
		    li {
		        position: relative;
		        
		        a {
		            margin: 0;
    		        padding: 1em 2.5em 1em 2.5em;
    		        display: block;
    		        
    		        &:hover,
    		        &:active {
    		            text-decoration: none;
    		            color: #000;
        		        background-color: rgba(255,255,255,0.5);
    		        }
    		        
    		        text-transform: uppercase;
                    color: lighten(@primary, 22%);
                    text-shadow: 0 -1px 1px rgba(102, 102, 102, 0.5), 0 1px 1px rgba(255,255,255,0.5);
		        }
		        
    		    a:before,
    		    a:after {
    				position: absolute;
    				top: 1.1em;
    				font-family: 'Glyphicons Halflings';
    				-webkit-font-smoothing: antialiased;
    				font-style: normal;
    				font-weight: normal;
    				line-height: 1;
    				display: block;
    				margin: 5px auto 10px;
    				font-size: .8em;
                }
                
                a:before {
                	left: 1.5em;
    				content: "\e080";
                }
		    }
		    
		    li.active a {
    		    color: #000;
		    }
		    
		    li.top a {
                text-align: center;
               	&:before, &:after { content: "\e113"; }
               	&:before { margin-left: 5em; }
               	&:after { margin-right: 5em; right: 1.5em; }
               	border-bottom: 1px solid lighten(@primary, 45%);
            }
            
            li.top.active a {
                &:before { content: "\e080"; }
                &:after { content: "\e079"; }
               	border-bottom: 1px solid lighten(@primary, 45%);
            }
		}
		
		ol ol {
    		//display: none;
		}
	}

	#content {
		margin-right: @toc-width+80px;
	}
}

.description {
	margin: 1em 0;
}

:not(h2) + .method_details {
    margin-top: 3em;
}

.method_details + * {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.signature {
    font-size: 1.2em;
    font-weight: normal;
    font-family: Monaco, Consolas, Courier, monospace;
  
    padding: 0;
    margin: 1em 0;
  
    tt { font-family: Monaco, Consolas, Courier, monospace; }
    .overload { display: block; }
    .extras { font-weight: normal; font-family: sans-serif; color: #444; font-size: 1em; }
    .aliases { display: block; font-weight: normal; font-size: 0.9em; font-family: sans-serif; margin-top: 0px; color: #555; }
    .aliases .names { font-family: Monaco, Consolas, Courier, monospace; font-weight: bold; color: #000; font-size: 1.2em; }
}

ul.summary {
    list-style: none;
    line-height: 1.5em;
        
    li {
        margin-bottom: 5px;
        
        .summary_signature {
            padding: 1px 0;
            /*
            .bg-gradient(@primary, 48%);
            .border-radius(4px);
            .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
            
            &:hover {
                .bg-gradient(@primary, 43%);
                cursor: pointer;
            }
            /**/
        }
        
        .summary_desc {
            margin-left: 32px;
            display: block;
            
            tt { font-size: 0.9em; }
        } 
    }
    
    &.compact li {
        display: inline-block;
        margin: 0px 5px 0px 0px;
        line-height: 2em;
        
        .summary_signature {
            padding-right: 4px;
        }
    }
    
    li.deprecated .summary_signature {
        a:link,
        a:visited {
            text-decoration: line-through; font-style: italic;
        }
    }
}

.tags {
    .tag_title { font-size: 1em; margin-bottom: 0; font-weight: bold; }
    ul {
        margin-top: 5px;
        padding-left: 30px;
        list-style: none;
        
        li {
            margin-bottom: 3px;
            position: relative;
            
            &:before {
                position: absolute;
                left: -20px;
                top: -1px;
        		font-family: 'Glyphicons Halflings';
        		-webkit-font-smoothing: antialiased;
        		font-style: normal;
        		font-weight: normal;
        		line-height: 1;
        		display: block;
        		margin: 5px auto 10px;
        		font-size: .8em;
        		content: "\e080";
            }
        }
        .name { font-family: monospace; font-weight: bold; }
        .note { padding: 3px 6px; }
    }
    
    margin-bottom: 12px;
    
    .examples .tag_title { margin-bottom: 10px; font-weight: bold; }
    .examples .inline p { padding: 0; margin: 0; margin-left: 15px; font-weight: bold; font-size: 0.9em; }
    
    .overload .overload_item { list-style: none; margin-bottom: 25px; }
    .overload .overload_item .signature {
        padding: 2px 8px;
        background: #e5e8ff; border: 1px solid #d8d8e5; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    }
    .overload .signature { margin-left: -15px; font-family: monospace; display: block; font-size: 1.1em; }
    .overload .docstring { margin-top: 15px; }
}

ul.params {
    list-style-type: none;
    
    li {
        
    }
}

html:not(.list) #content {
    > *,
    div.docstring,
    div.method_details,
    div.tags {
        padding-left: 40px;
    }
    
    > h1, > h2, div {
        padding-left: 0;
    }     
}





/*
 * Popover
 */
.popover {
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	border-top-left-radius: 0;
	
	.popover-title {
		padding: 1px 5px;
		
		position: absolute;
		left: -1px;
		top: -17px;
		text-decoration: none;
		font-weight: 700;
		font-size: 11px;
		line-height: 13px;
		background-color: #f00;
		border: 1px solid #999;
		color: #fff;
	}
	
	.popover-content {
		padding: 4px 5px;
		
		p:last-child {
			margin-bottom: 0;
		}
		
		.description {
			margin: 0;
		}
		
		.more { margin-top: 1em; font-style: italic; }
	}
}

/*
 * Search
 */
#search {
	margin: 10px 10px 20px 10px;
	
	.pre-action {
		.replace {
			display: none;
		}
		
		margin-top: -10px;
		margin-bottom: 5px;
		
		padding: 30px 0px 30px 130px;
		background-image: url(../img/seqan_logo.png);
		background-size: 114px 76px;
		background-repeat: no-repeat;
		background-position: 0 3px;
		
		h1 {
			padding: 0;
			margin: 0;
			font-size: 28px;
		}
	}
	
	[type=search] {
		width: 100%;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGc%2BCgk8cG9seWdvbiBmaWxsPSIjNjY2IiBwb2ludHM9IjkuMjA3LDYuMTI2IDcuNzkzLDcuNTQxIDExLjc5MywxMS41NDEgMTMuMjA3LDEwLjEyNiIgLz4KCTxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik01LjkxNywyYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsNy44MzMsNS45MTcsNy44MzNTMyw2LjUyNSwzLDQuOTE3UzQuMzA4LDIsNS45MTcsMgoJCSBNNS45MTcsMEMzLjIwMSwwLDEsMi4yMDEsMSw0LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMi4yMDEsOC42MzIsMCw1LjkxNywwTDUuOTE3LDB6IiAvPgo8L2c%2BCjwvc3ZnPgo%3D');
		background-position: -24px 10px;
	}
	
	.btn {
		font-weight: 700;
		color: #fff;
	}
	
	.btn:hover {
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.225);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.225);
		color: #fff;
	}
	
	.btn:active,
	.btn.active {
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.45);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.45);
		color: #eee;
	}
	
	/* nur notwendig, wenn nicht dropdown-filter sondern toggle-buttons
	.btn-group {
		&:first-child {
			
			label:first-child {
				border-bottom-left-radius: 0 !important;
			}
			
			label:last-child {
				border-bottom-right-radius: 0 !important;
			}
		}

		&:not(:first-child):not(:last-child) {
			label:first-child {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}
			
			label:last-child {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
		
		&:last-child {
			label:first-child {
				border-top-left-radius: 0 !important;
			}
			
			label:last-child {
				border-top-right-radius: 0 !important;
			}
		}
	}
	*/
}

#results {
	> ol {
		padding: 0;
		list-style: none;
		margin-left: 10px;
		margin-right: 10px;

		li.result {
			background: transparent;
			margin: 10px 0;
			list-style: none;
			
			span[data-lang-entity] {
				//display: table;
				padding: 5px;
				
				> * {
					// display: table-cell;
				}
				
				> *:last-child {
					width: 100%;
					padding-left: 0.3em;
				}
				
				&:hover {
					background-color: @primary;
					border-radius: 4px;
				
					a {
						color: #fff;
					}
				}
			}
			
			h2 {
				font-size: 1.1em;
				margin: 0;
				padding: 0;
			}
			
			div {
				display: none;
			}
		}
	}
}

/*
 * Language Entities
 */
form .multiselect-container {
	li[class=all] {
	  label {
	    color: #000;
	  }
	  
	  a {
	    @deg: -55deg;
	    @lighter: 30%;
	    @gradient: lighten(@red, @lighter), lighten(@orange, @lighter), lighten(@lgreen, @lighter), lighten(@rgreen, @lighter), lighten(@lblue, @lighter), lighten(@rblue, @lighter), lighten(@purple, @lighter), lighten(@pink, @lighter);
	    background: -webkit-linear-gradient(@deg, @gradient);
        background: -moz-linear-gradient(@deg, @gradient);
        background: linear-gradient(@deg, @gradient);
      
        &:hover {
          @lighter: 10%;
	      @gradient: lighten(@red, @lighter), lighten(@orange, @lighter), lighten(@lgreen, @lighter), lighten(@rgreen, @lighter), lighten(@lblue, @lighter), lighten(@rblue, @lighter), lighten(@purple, @lighter), lighten(@pink, @lighter);
  	      background: -webkit-linear-gradient(@deg, @gradient);
          background: -moz-linear-gradient(@deg, @gradient);
          background: linear-gradient(@deg, @gradient);
        }
	  }
	}
	
	li:not([class]) {
	  margin: 0;
	  background-color: #000;
	  color: #fff;
	  font-size: 0.8em;
	  text-transform: uppercase;
		
	  label {
		font-weight: 700;
	  }
		
	  &:hover {
	    background-color: #000;
		color: #fff;
	  }
	}
	
	li.active a {
		background-color: #fff;
	}
	
	label {
		color: #fff;
		padding: 0.1em 0.5em 0.1em 0.45em;
		margin: .2em .2em .2em 1em !important;
		border-radius: .25em !important;
		display: inline-block;
		
		input {
			margin-left: -30px !important;
		}
		
		& .multiselect-group {
			padding-left: 0.5em;
		}
	}
}

[data-lang-entity] {
	position: relative;
	white-space: nowrap;
	
	> :first-child {
	    display: inline-block;
		position: relative;
		bottom: 0.15em;
		
        padding: .2em .6em .3em;
    	margin: 0 0.3em 0 0.2em;
    	font-size: .75em;
    	font-weight: bold;
    	line-height: 1;
    	color: #ffffff;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: baseline;
    	border-radius: .25em;
    	border: 1px solid #f00;
    	
    	background-color: #f00000;
    	cursor: help;
    	
    	&:hover {
    		.animation(animation1 1.5s linear 0s infinite alternate);
    	}
    }
    
    // Typed headings
    h1& {
    	display: table;
    	    
    	> * {
    	  	display: table-cell;
    	}
    	    
    	:nth-child(2) {
    		// allow breaks, otherwise the headline would easily interfere with the TOC
    		white-space: normal;
    		-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
    		
    		> div {
    			margin-top: .3em;
    			font-size: .5em;
    			white-space: normal;
    		
    			[data-lang-entity] > :first-child {
    				//display: none;
    				font-size: .55em;
    				top: -.4em;
    			}
    		
    			> [data-lang-entity]:first-child > :first-child {
    	  			margin-left: 0;
    	  		}
    	  	}
    	}
	}
}



// TODO auf language_entities.html beschränkung prüfen ob schon implementiert
body.language_entities {
	div[data-lang-entity-container] + div[data-lang-entity-container] {
		margin-top: 2em;
	}
}

.langEntityRules(@langEntity, @color, hide) {
	.langEntityRules(@langEntity, @color);
	
	html:not(.list) [data-lang-entity=@{langEntity}] {
  	  > *:first-child {
 		   display: none;
 	   }  
	}
	
	html:not(.list) h1[data-lang-entity=@{langEntity}] {
  	  > *:first-child {
 		   display: inline-block;
 	   }  
	}
}

.langEntityRules(@langEntity, @color) {
	@border-darken: 5%;
	
	html.language_entities *[data-lang-entity-container=@{langEntity}],
	html:not([class]) *[data-lang-entity-container=@{langEntity}] { // TODO remove line
		> h2:first-child {
			margin: 0;
			padding: 8px 20px 10px 20px;
			.bg-gradient(@color, 0%);
            border-bottom: none;
            .border-radius(4px);
		}
		
		> * {
			margin: 20px;
		}
		
		dt {
		    .bg-gradient(@color, 0%);
        }
	}
	
	[data-lang-entity=@{langEntity}] {   
        > *:first-child {
           	background-color: @color;
           	border-color: darken(@color, @border-darken);
        }
	}
	
	*[data-lang-entity-container=@{langEntity}] label {
	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;         /* Opera/IE 8+ */
		background-color: @color;
		border: 1px solid darken(@color, @border-darken);
	}
	
	.popover[data-lang-entity-container=@{langEntity}] .popover-title {
		background-color: @color;
	}
}

.langEntityRules(typedef, @rgreen);
.langEntityRules(grouped_typedef, @rgreen);
.langEntityRules(global_typedef, @rgreen);
.langEntityRules(member_typedef, @rgreen);

.langEntityRules(concept, lighten(@red, -20%));
.langEntityRules(class, @red);
.langEntityRules(enum, lighten(@red, 20%));

.langEntityRules(metafunction, @rblue);
.langEntityRules(global_metafunction, @rblue);
.langEntityRules(interface_metafunction, @rblue);

.langEntityRules(function, @lblue);
.langEntityRules(global_function, lighten(@lblue, 10%));
.langEntityRules(interface_function, darken(@lblue, 20%));
.langEntityRules(member_function, @lblue);

.langEntityRules(tag, @purple);

.langEntityRules(variable, @lgreen);
.langEntityRules(global_variable, @lgreen);
.langEntityRules(local_variable, @lgreen);
.langEntityRules(member_variable, @lgreen);

.langEntityRules(adaption, lighten(@orange, -10%));
.langEntityRules(macro, lighten(@orange, 10%));

.langEntityRules(page, lighten(@pink, -10%), hide);
.langEntityRules(group, lighten(@pink, 10%), hide);

.langEntityRules(generic, #999);
html [data-lang-entity=generic] > *:first-child,
html .popover[data-lang-entity-container=generic] .popover-title {
	background: -moz-linear-gradient(-45deg, rgba(155,31,31,1) 0%, rgba(155,124,31,1) 14%, rgba(93,155,31,1) 29%, rgba(31,155,62,1) 43%, rgba(31,155,155,1) 57%, rgba(31,62,155,1) 71%, rgba(93,31,155,1) 86%, rgba(155,31,124,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(155,31,31,1)), color-stop(14%,rgba(155,124,31,1)), color-stop(29%,rgba(93,155,31,1)), color-stop(43%,rgba(31,155,62,1)), color-stop(57%,rgba(31,155,155,1)), color-stop(71%,rgba(31,62,155,1)), color-stop(86%,rgba(93,31,155,1)), color-stop(100%,rgba(155,31,124,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(155,31,31,1) 0%,rgba(155,124,31,1) 14%,rgba(93,155,31,1) 29%,rgba(31,155,62,1) 43%,rgba(31,155,155,1) 57%,rgba(31,62,155,1) 71%,rgba(93,31,155,1) 86%,rgba(155,31,124,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(155,31,31,1) 0%,rgba(155,124,31,1) 14%,rgba(93,155,31,1) 29%,rgba(31,155,62,1) 43%,rgba(31,155,155,1) 57%,rgba(31,62,155,1) 71%,rgba(93,31,155,1) 86%,rgba(155,31,124,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(155,31,31,1) 0%,rgba(155,124,31,1) 14%,rgba(93,155,31,1) 29%,rgba(31,155,62,1) 43%,rgba(31,155,155,1) 57%,rgba(31,62,155,1) 71%,rgba(93,31,155,1) 86%,rgba(155,31,124,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(155,31,31,1) 0%,rgba(155,124,31,1) 14%,rgba(93,155,31,1) 29%,rgba(31,155,62,1) 43%,rgba(31,155,155,1) 57%,rgba(31,62,155,1) 71%,rgba(93,31,155,1) 86%,rgba(155,31,124,1) 100%); /* W3C */
}







/*
 * Fixes
 */
.tooltip {
    p:first-child {
        margin-top: 0.7em;
    }
}

.input-group-btn {
  &.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}





.animation1() {
	0% {
    	opacity:1;
    }
	100% {
		opacity:0.65;
	}
}

@import '../lib/3L/assets/animations/animation1';