language: cpp
compiler:
  - gcc-4.8
  - clang
cache:
  apt: true
  directories:
  - _build
before_script:
  - sudo apt-get install -qq cmake python zlib1g-dev libbz2-dev libboost-dev python-jinja2
  - if [ "$CC" = "clang" ];
    then
      sudo apt-get install -qq clang-3.3;
    fi
  - if [ "$CC" = "gcc" ];
    then
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
      sudo apt-get update -qq;
      sudo apt-get install -qq gcc-4.8 g++-4.8;
      export CXX="g++-4.8" CC="gcc-4.8";
      gcc-4.8 --version;
    fi
script:
  ./util/travis/linux-cibuild.sh
