{% extends "base.html" %}

{% block title %}{{ concept.title|e }}{% endblock %}

{% block content %}
<h1 data-lang-entity="concept" data-pimped="true">
  <a href="page_LanguageEntities.html#concept">Concept</a> <span>{{ concept.title|e }}<div>{{ sections.brief(concept) }}</div></span>
</h1>

{{ sections.top_box(concept) }}

{% if concept.internals or concept.deprecation_msgs or concept.warnings or concept.notes or concept.akas or not concept.body.empty %}
<h2>Detailed Description</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @internal -->
    {% if concept.internals %}
    <div class="note internal"><strong>Internal:</strong> <div class='inline'>
        <p>For internal use only.</p>
    </div></div>
    {% endif %}

    <!-- @deprecated -->
    {% if concept.deprecation_msgs %}
    <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
        {% for msg in concept.deprecation_msgs %}
        <p>{{ msg|transtext(False) }}</p>
        {% endfor %}
    </div></div>
    {% endif %}

    <!-- @warning -->
    {% if concept.warnings %}
        {% for msg in concept.warnings %}
        <div class="note warning"><strong>Warning:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @note -->
    {% if concept.notes %}
        {% for msg in concept.notes %}
        <div class="note info"><strong>Note:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
         </div></div>
        {% endfor %}
    {% endif %}

    <!-- @aka -->
    {% if concept.akas %}
    <div class="note aka"><strong>Also known as:</strong> <div class='inline'>
        <p>{{ concept.akas|join(', ') }}</p>
    </div></div>
    {% endif %}

    <!-- paragraphs -->
    {{ sections.body(concept) }}
  </div>
</div>
{% endif %}

<!-- @see -->
{{ sections.see_also(concept) }}

<!--
 =============================================================================
  Member and Interface Overview
 =============================================================================
-->

<!-- Member Functions Overview -->
{{ sections.member_functions_ov(concept, doc) }}

<!-- Interface Functions Overview -->
{{ sections.interface_functions_ov(concept, doc) }}

<!-- Interface Metafunctions Overview -->
{{ sections.interface_metafunctions_ov(concept, doc) }}

<!-- Member Variable Overview -->
{{ sections.member_variables_ov(concept, doc) }}

<!--
 =============================================================================
  Member and Interface Details
 =============================================================================
-->

<!-- Member Functions Details -->
{{ sections.member_functions(concept) }}

<!-- Interface Functions Details -->
{{ sections.interface_functions(concept) }}

<!-- Interface Metafunctions Details -->
{{ sections.interface_metafunctions(concept) }}

<!-- Member Variable Details -->
{{ sections.member_variables(concept) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(concept, in_comment=True) }}

{% endblock %}
