{% extends "base.html" %}

{% block title %}{{ enum.title|e }}{% endblock %}

{% block content %}
<h1 data-lang-entity="enum" data-pimped="true">
  <a href="page_LanguageEntities.html#enum">Enum</a> <span>{{ enum.title|e }}<div>{{ sections.brief(enum) }}</div></span>
</h1>

{{ sections.top_box(enum) }}

<!--
 =============================================================================
  Member and Interface Details
 =============================================================================
-->

{{ sections.enum_values(enum, doc) }}

<!--
 =============================================================================
  Detailed Description
 =============================================================================
-->

{% if enum.internals or enum.deprecation_msgs or enum.warnings or enum.notes or enum.akas or not enum.body.empty %}
<h2>Detailed Description</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @internal -->
    {% if enum.internals %}
    <div class="note internal"><strong>Internal:</strong> <div class='inline'>
        <p>For internal use only.</p>
    </div></div>
    {% endif %}

    <!-- @deprecated -->
    {% if enum.deprecation_msgs %}
        {% for msg in enum.deprecation_msgs %}
        <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @warning -->
    {% if enum.warnings %}
        {% for msg in enum.warnings %}
        <div class="note warning"><strong>Warning:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @note -->
    {% if enum.notes %}
        {% for msg in enum.notes %}
        <div class="note info"><strong>Note:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
         </div></div>
        {% endfor %}
    {% endif %}

    <!-- @aka -->
    {% if enum.akas %}
    <div class="note aka"><strong>Also known as:</strong> <div class='inline'>
        <p>{{ enum.akas|join(', ') }}</p>
    </div></div>
    {% endif %}

    <!-- paragraphs -->
    {{ sections.body(enum) }}
  </div>
</div>
{% endif %}

<!-- @see -->
{{ sections.see_also(enum) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(enum, in_comment=True) }}

{% endblock %}
