{% extends "base.html" %}

{% block title %}{{ enum.name }}{% endblock %}

{% block content %}
<h1>Enum: {{ enum.name }}</h1>

{{ sections.top_box(enum) }}

<!-- signatures -->
{{ sections.signatures(enum) }}

<h2>Overview</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @deprecated -->
    {% if enum.deprecation_msgs %}
    <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
        {% for msg in enum.deprecation_msgs %}
        <p>{{ msg|transtext(False) }}</p>
        {% endfor %}
    </div></div>
    {% endif %}

    <!-- @brief -->
    {{ sections.brief(enum) }}
    
    <!-- paragraphs -->
    {{ sections.body(enum) }}
  </div>
</div>

<!-- @see -->
{{ sections.see_also(enum) }}

{{ sections.enum_values_ov(enum, doc) }}
{{ sections.enum_values(enum, doc) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(enum) }}

{% endblock %}
