{% extends "base.html" %}

{% block title %}{{ function.name }}{% endblock %}

{% block content %}
<h1>Function: {{ function.name }}</h1>

{{ sections.top_box(function) }}

<!-- @signature -->
{{ sections.signatures(function) }}

<h2>Overview</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @deprecated -->
    {% if function.deprecation_msgs %}
    <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
        {% for msg in function.deprecation_msgs %}
        <p>{{ msg|transtext(False) }}</p>
        {% endfor %}
    </div></div>
    {% endif %}

    <!-- @brief -->
    {{ sections.brief(function) }}
    
    <!-- paragraphs -->
    {{ sections.body(function) }}
  </div>
</div>

<!-- @see -->
{{ sections.see_also(function) }}

<!-- @param -->
{{ sections.params(function) }}

<!-- @tparam -->
{{ sections.tparams(function) }}

<!-- @returns -->
{{ sections.return_values(function) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(function) }}

{% endblock %}
