{% extends "base.html" %}

{% block title %}Language Entities{% endblock %}

{% block content %}

<h1>Language Entities</h1>

<div data-lang-entity-container="typedef">
<h2><a name="typedef">typedef</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre>

<h3>Variants</h3>
<dl>
	<dt>global typedefs</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></dd>
	<dt>grouped typedefs</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></dd>
</dl>
</div>

<div data-lang-entity-container="class">
<h2><a name="class">class</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre>

<h3>Variants</h3>
<dl>
	<dt>global typedefs</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></dd>
	<dt>grouped typedefs</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></dd>
</dl>
</div>

{% endblock %}
