{% extends "base.html" %}

{% block title %}Language Entity Types{% endblock %}

{% block content %}

<div class="language_entities">
<h1>Language Entity Types</h1>

<p>SeqAn is a C++ based library. In order to provide you with an outstanding performance, SeqAn heavily relies on template programming.</p>
<p>Our way of using template programming leads to approaches possibly unfamiliar to you. For example functions that used to be member functions are technically implemented as global functions. For this reason we semantically annotated all <a title="We call all of these things language entity types.">variables, functions, metafunctions, classes, etc.</a> with a small label to tell you with what your semantically dealing.</p>
<div data-lang-entity-container="typedef">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['typedef'].ideogram }}"><a name="typedef">{{ config.lang_entities['typedef'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>

<h3>Variants</h3>
<dl>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['grouped_typedef'].ideogram }}">{{ config.lang_entities['grouped_typedef'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['global_typedef'].ideogram }}">{{ config.lang_entities['global_typedef'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['member_typedef'].ideogram }}">{{ config.lang_entities['member_typedef'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
</dl>
</div>

<div data-lang-entity-container="concept">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['concept'].ideogram }}"><a name="concept">{{ config.lang_entities['concept'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<div data-lang-entity-container="class">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['class'].ideogram }}"><a name="class">{{ config.lang_entities['class'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<div data-lang-entity-container="enum">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['enum'].ideogram }}"><a name="enum">{{ config.lang_entities['enum'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<div data-lang-entity-container="metafunction">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['metafunction'].ideogram }}"><a name="typedef">{{ config.lang_entities['metafunction'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>

<h3>Variants</h3>
<dl>
    <dt data-lang-entity-ideogram="{{ config.lang_entities['global_metafunction'].ideogram }}">{{ config.lang_entities['global_metafunction'].name }}</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['interface_metafunction'].ideogram }}">{{ config.lang_entities['interface_metafunction'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
</dl>
</div>

<div data-lang-entity-container="function">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['function'].ideogram }}"><a name="function">{{ config.lang_entities['function'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>

<h3>Variants</h3>
<dl>
    <dt data-lang-entity-ideogram="{{ config.lang_entities['global_function'].ideogram }}">{{ config.lang_entities['global_function'].name }}</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['interface_function'].ideogram }}">{{ config.lang_entities['interface_function'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['member_function'].ideogram }}">{{ config.lang_entities['member_function'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
</dl>
</div>

<div data-lang-entity-container="tag">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['tag'].ideogram }}"><a name="tag">{{ config.lang_entities['tag'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>

<h3>Variants</h3>
<dl>
    <dt data-lang-entity-ideogram="{{ config.lang_entities['grouped_tag'].ideogram }}">{{ config.lang_entities['grouped_tag'].name }}</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
</dl>
</div>

<div data-lang-entity-container="variable">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['variable'].ideogram }}"><a name="variable">{{ config.lang_entities['variable'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>

<h3>Variants</h3>
<dl>
    <dt data-lang-entity-ideogram="{{ config.lang_entities['global_variable'].ideogram }}">{{ config.lang_entities['global_variable'].name }}</dt>
	<dd><p>Global typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
	<dt data-lang-entity-ideogram="{{ config.lang_entities['member_variable'].ideogram }}">{{ config.lang_entities['member_variable'].name }}</dt>
	<dd><p>Grouped typedefs ...</p>
		<p>Lorem ipsum ...</p>
	</dd>
	<dd><p>In SeqAn ...</p></dd>
	<dd><p>The following code examples shows how to ...</p>
		<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div></dd>
</dl>
</div>

<div data-lang-entity-container="adaption">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['adaption'].ideogram }}"><a name="adaption">{{ config.lang_entities['adaption'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<div data-lang-entity-container="macro">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['macro'].ideogram }}"><a name="macro">{{ config.lang_entities['macro'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<!--
<div data-lang-entity-container="group">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['group'].ideogram }}"><a name="group">{{ config.lang_entities['group'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

<div data-lang-entity-container="page">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['adaption'].ideogram }}"><a name="page">{{ config.lang_entities['page'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>
-->

<div data-lang-entity-container="generic">
<h2 data-lang-entity-ideogram="{{ config.lang_entities['generic'].ideogram }}"><a name="generic">{{ config.lang_entities['generic'].name }}</a></h2>
<p>Typedef allow for ...</p>
<p>In SeqAn they are mainly used for ...</p>

<h3>Example</h3>
<div class="highlight"><pre><code>#include <iostream>
using namespace std;
...
cout << x << " " << y << endl;
</code></pre></div>
</div>

</div>

{% endblock %}
