<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="list">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
      
      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
      <script type="text/javascript" charset="utf-8" src="lib/bootstrap/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet/less" href="lib/bootstrap-multiselect/less/bootstrap-multiselect.less" type="text/css" media="screen" charset="utf-8" />
      <script type="text/javascript" charset="utf-8" src="lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
      
      <link rel="stylesheet" href="css/full_list.css" type="text/css" media="screen" charset="utf-8" />
      <link rel="stylesheet/less" href="css/common.less" type="text/css" media="screen" charset="utf-8" />
      <script type="text/javascript" charset="utf-8" src="js/less.min.js"></script>
      
      <script type="text/javascript" charset="utf-8" src="js/lang_entities.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/search.data.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/search.engine.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/common.js"></script>

      <base id="base_target" target="_parent" />
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) {
      document.getElementById('base_target').target = 'main';
      document.body.className += ' frames';
      }
    </script>
    <div id="content"><form role="form" id="search">
        <div class="input-group">
          <!--span class="input-group-addon"><b class="glyphicon glyphicon-search"></b></span-->
          <span class="input-group-btn btn-group">
            <select multiple="multiple">
              <optgroup label="Concept related">
		        <option value="typedef" selected>typedef</option>
		        <option value="concept" selected>concept</option>
		        <option value="class" selected>class</option>
		        <option value="enum" selected>enum</option>
		      </optgroup>
		      <optgroup label="Function related">
		        <option value="metafunction" selected><b>meta</b>_function</option>
		        <option value="function" selected>function</option>
		        <option value="tag" selected>tag</option>
		        <option value="variable" selected>variable</option>
		      </optgroup>
		      <optgroup label="Miscellaneous">
		        <option value="adaption" selected>adaption</option>
		        <option value="macro" selected>macro</option>
		        <option value="group" selected>group</option>
		        <option value="page" selected>page</option>
		      </optgroup>
            </select>
	        <!--button class="btn btn-primary">Select All</button-->
          </span>
          <input type="search" class="form-control">
          </div>
        </form>

        <div id="results">
          <ol>
            {% for name, entry in doc.top_level_entries|dictsort %}
            {% if entry.kind != 'page' %}
            <li class="result" data-lang-entity-container="{{ entry.kind }}">
              <h2><a href="{{entry.name|name_to_path}}" target="main" data-lang-entity="{{ entry.kind }}">{{name}}</a></h2>
              <div>
                <div class="text"></div>
                <div class="location"><a href="{{entry.name|name_to_path}}" target="main">{{entry.name|name_to_path}}</a></div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ol>
        </div>
    </div>
  </body>
</html>
