{% extends "base.html" %}

{% block title %}{{ macro.title|e }}{% endblock %}

{% block content %}
<h1 data-lang-entity="macro" data-pimped="true">
  <a href="page_LanguageEntities.html#macro">#define</a> <span>{{ macro.title|e }}<div>{{ sections.brief(macro) }}</div></span>
</h1>

{{ sections.top_box(macro) }}

<!-- @param -->
{{ sections.params(macro) }}

<!-- @returns -->
{{ sections.return_values(macro) }}

<!--
 =============================================================================
  Detailed Description
 =============================================================================
-->

{% if macro.internals or macro.deprecation_msgs or macro.warnings or macro.notes or macro.akas or not macro.body.empty %}
<h2>Detailed Description</h2>
<div class="docstring">
  <div class="discussion">
    {% if macro.internals %}
    <div class="note internal"><strong>Internal:</strong> <div class='inline'>
        <p>For internal use only.</p>
    </div></div>
    {% endif %}

    <!-- @deprecated -->
    {% if macro.deprecation_msgs %}
        {% for msg in macro.deprecation_msgs %}
        <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @warning -->
    {% if macro.warnings %}
        {% for msg in macro.warnings %}
        <div class="note warning"><strong>Warning:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @note -->
    {% if macro.notes %}
        {% for msg in macro.notes %}
        <div class="note info"><strong>Note:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
         </div></div>
        {% endfor %}
    {% endif %}

    <!-- @aka -->
    {% if macro.akas %}
    <div class="note aka"><strong>Also known as:</strong> <div class='inline'>
        <p>{{ macro.akas|join(', ') }}</p>
    </div></div>
    {% endif %}

    <!-- paragraphs -->
    {{ sections.body(macro) }}
  </div>
</div>
{% endif %}

<!-- @throw -->
{{ sections.throws(macro) }}

<!-- @datarace -->
{{ sections.dataraces(macro) }}

<!-- @see -->
{{ sections.see_also(macro) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(macro, in_comment=True) }}

{% endblock %}
