{% extends "base.html" %}

{% block title %}{{ metafunction.title|e }}{% endblock %}

{% block content %}
<h1 data-lang-entity="metafunction" data-pimped="true">
  <a href="page_LanguageEntities.html#metafunction">Fn<></a> <span>{{ metafunction.title|e }}<div>{{ sections.brief(metafunction) }}</div></span>
</h1>

{{ sections.top_box(metafunction) }}

<!-- @param -->
{{ sections.params(metafunction) }}

<!-- @tparam -->
{{ sections.tparams(metafunction) }}

<!-- @returns -->
{{ sections.return_values(metafunction) }}

<!--
 =============================================================================
  Detailed Description
 =============================================================================
-->

{% if metafunction.internals or metafunction.deprecation_msgs or metafunction.warnings or metafunction.notes or metafunction.akas or not metafunction.body.empty %}
<h2>Detailed Description</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @internal -->
    {% if metafunction.internals %}
    <div class="note internal"><strong>Internal:</strong> <div class='inline'>
        <p>For internal use only.</p>
    </div></div>
    {% endif %}

    <!-- @deprecated -->
    {% if metafunction.deprecation_msgs %}
        {% for msg in metafunction.deprecation_msgs %}
        <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @warning -->
    {% if metafunction.warnings %}
        {% for msg in metafunction.warnings %}
        <div class="note warning"><strong>Warning:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @note -->
    {% if metafunction.notes %}
        {% for msg in metafunction.notes %}
        <div class="note info"><strong>Note:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
         </div></div>
        {% endfor %}
    {% endif %}

    <!-- @aka -->
    {% if metafunction.akas %}
    <div class="note aka"><strong>Also known as:</strong> <div class='inline'>
        <p>{{ metafunction.akas|join(', ') }}</p>
    </div></div>
    {% endif %}

    <!-- paragraphs -->
    {{ sections.body(metafunction) }}
  </div>
</div>
{% endif %}

<!-- @see -->
{{ sections.see_also(metafunction) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(metafunction, in_comment=True) }}


{% endblock %}
