<!--
Macro inheritance_class(klass)

Render the inheritance information of the given class.
-->

<!--
{% macro inheritance_class(klass) -%}
<div class="inheritance">
<dl>
  {% if klass.extends %}
  <dt>Extends</dt>
  <dd>
  {% for e in klass.extends|sort -%}
    {{ e|translink }}{% if not loop.last %}, {% endif %}
  {% endfor %}
  </dd>
  {% endif %}

  {% if klass.implements %}
  <dt>Implements</dt>
  <dd>
  {% for e in klass.implements|sort -%}
    {{ e|translink }}{% if not loop.last %}, {% endif %}
  {% endfor %}
  </dd>
  {% endif %}

  {% if klass.all_extended %}
  <dt>All Extended Classes</dt>
  <dd>
  {% for e in klass.all_extended|sort -%}
    {{ e|translink }}{% if not loop.last %}, {% endif %}
  {% endfor %}
  </dd>
  {% endif %}

  {% if klass.all_extending %}
  <dt>All Known Subclasses</dt>
  <dd>
  {% for e in klass.all_extending|sort -%}
    {{ e|translink }}{% if not loop.last %}, {% endif %}
  {% endfor %}
  </dd>
  {% endif %}

  {% if klass.all_implemented %}
  <dt>All Implemented Concepts</dt>
  <dd>
  {% for e in klass.all_implemented|sort -%}
    {{ e|translink }}{% if not loop.last %}, {% endif %}
  {% endfor %}
  </dd>
  {% endif %}
</dl>
</div>
{% endmacro %}
-->

<!--
Macro top_box(entry)

Render the inheritance information of the given entr.
-->

{% macro top_box(entry) %}
<table class="overview">

  {% if entry.extends %}
  <tr>
    <th>Extends</th>
    <td>
      {% for e in entry.extends|sort -%}
        {{ e|translink }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if entry.implements %}
  <tr>
    <th>Implements</dt>
    <td>
    {% for e in entry.implements|sort -%}
      {{ e|translink }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if entry.all_extended %}
  <tr>
    <th>All Extended</dt>
    <td>
    {% for e in entry.all_extended|sort -%}
      {{ e|translink }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if entry.all_extending %}
  <tr>
    <th>All Subcl's</dt>
    <td>
    {% for e in entry.all_extending|sort -%}
      {{ e|translink }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endif %}

  {% if entry.all_implemented %}
  <tr>
    <th>All Impl'd</dt>
    <td>
    {% for e in entry.all_implemented|sort -%}
      {{ e|translink }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    </td>
  {% endif %}
  </tr>

  <tr>
    <th>Defined in</th>
    <td>
      {% if entry.headerfiles %}
      {% for h in entry.headerfiles|sort -%}
      {{ h|e }}{% if not loop.last %}, {% endif %}
      {% endfor %}
      {% else %}
      &nbsp;
      {% endif %}
    </td>
  </tr>
  
  <tr>
    <th>Signature</th>
    <td>
      <code>
{%- for s in entry.signatures -%}
{{ s|transtext(False) }}
{% endfor -%}
      </code>
    </td>
  </tr>
</table>
{% endmacro %}

<!--
Macro inheritance_concept(concept)

Render the inheritance information of the given class.
-->

{% macro inheritance_concept(concept) -%}
<table class="overview">
  {% if concept.extends %}
  <tr>
        <th>Extends</th>
        <td>
        {% for e in concept.extends|sort -%}
            {{ e|translink }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </td>
  </tr>
  {% endif %}

  {% if concept.all_extended %}
  <tr>
        <th>All Extended Concepts</th>
        <td>
        {% for e in concept.all_extended|sort -%}
            {{ e|translink }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </td>
  </tr>
  {% endif %}

  {% if concept.all_extending %}
  <tr>
        <th>All Known Refinements</th>
        <td>
        {% for e in concept.all_extending|sort -%}
            {{ e|translink }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </td>
  </tr>
  {% endif %}

  {% if concept.all_implementing %}
  <tr>
        <th>All Implementing Classes</th>
        <td>
        {% for e in concept.all_implementing|sort -%}
            {{ e|translink }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </td>
  </tr>
  {% endif %}
</table>
{% endmacro %}

<!--
Macro brief(entry)

Render the @brief text for the given entry.
-->

{% macro brief(entry) -%}
{{ entry.brief|transtext }}
{%- endmacro %}

<!--
Macro body(entry, start_heading=2)

Render the body for the given entry.
-->

{% macro body(entry, start_heading=3) -%}
{% if entry.body %}
{{ entry.body|transtext(class="body", start_heading=start_heading) }}
{% endif %}
{%- endmacro %}

<!--
Macro see_also(entry, h_level)

Render the given entry in a See Also section.  The heading "See Also" wil be
rendered with level h_level.
-->

{% macro see_also(entry, h_level=2) -%}
{% if entry.sees %}
  <h{{ h_level }} class="clause_header">See Also</h{{ h_level }}>
  <ul class="summary compact">
  {% for link in entry.sortedSees() %}
  <li>{{ link|transtext(True) }}</li>
  {% endfor %}
  </ul>
{% endif %}
{%- endmacro %}

<!--
Macro member_functions_ov(entry, doc)

Render the member functions overview
-->

{% macro member_functions_ov(entry, doc, qualifier='Member') %}
{% if entry.hasSubEntry('member_function', doc) %}

<div data-lang-entity-container="member_function">
<h2 data-lang-entity="member_function">{{ qualifier }} Function Overview</h2>

{% if entry.subentries['member_function'] -%}
<ul class="summary">
  {% for entry in entry.subentries['member_function']|sort(attribute='name') %}
  <li class="public">
    {% if entry.sig_entries %}
    <!-- TODO(holtgrew): Why sig_entries? -->
    <span class="summary_signature"><code>{{ sig_entries[0].toString() }}</code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</td>
    {% else %}
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {%- for s in entry.signatures -%}
        {{ s|transtext(False) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% for cl in entry.all_extended|sort %}
{% if doc.top_level_entries[cl].subentries['member_function'] %}
<h3 data-toc="hidden">{{ qualifier }} Functions Inherited From {{ cl|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[cl].subentries['member_function']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}

{% if entry.kind == 'class' or entry.kind == 'specialization' %}
{% for co in entry.all_implemented|sort %}
{% if doc.top_level_entries[co].subentries['member_function'] %}
<h3 data-toc="hidden">{{ qualifier }} Functions Inherited From {{ co|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[co].subentries['member_function']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endif %}

</div>

{% endif %}
{% endmacro %}


<!--
Macro member_typedefs_ov(entry, doc)

Render the member typedefs overview
-->

{% macro member_typedefs_ov(entry, doc, qualifier='Member') %}
{% if entry.hasSubEntry('member_typedef', doc) %}

<div data-lang-entity-container="member_typedef">
<h2 data-lang-entity="member_typedef">{{ qualifier }} Typedef Overview</h2>

{% if entry.subentries['member_typedef'] -%}
<ul class="summary">
  {% for entry in entry.subentries['member_typedef']|sort(attribute='name') %}
  <li class="public">
    {% if entry.sig_entries %}
    <!-- TODO(holtgrew): Why sig_entries? -->
    <span class="summary_signature"><code>{{ sig_entries[0].toString() }}</code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</td>
    {% else %}
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (member typedef)" data-lang-entity="{{entry.kind}}">
        {%- for s in entry.signatures -%}
        {{ s|transtext(False) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}


{% for cl in entry.all_extended|sort %}
{% if doc.top_level_entries[cl].subentries['member_typedef'] %}
<h3 data-toc="hidden">{{ qualifier }} Typedefs Inherited From {{ cl|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[cl].subentries['member_typedef']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}

{% if entry.kind == 'class' or entry.kind == 'specialization' %}
{% for co in entry.all_implemented|sort %}
{% if doc.top_level_entries[co].subentries['member_typedef']|sort(attribute='name') %}
<h3 data-toc="hidden">{{ qualifier }} Typedefs Inherited From {{ co|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[co].subentries['member_typedef'] %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endif %}

</div>

{% endif %}  {#{% if entry.hasSubEntry('member_typedef', doc) %}#}
{% endmacro %}

<!--
Macro interface_functions_ov(entry, doc)

Render the interface functions overview
-->

{% macro interface_functions_ov(entry, doc, qualifier='Interface') %}
{% if entry.hasSubEntry('interface_function', doc) %}

<div data-lang-entity-container="interface_function">
<h2 data-lang-entity="interface_function">{{ qualifier }} Function Overview</h2>

{% if entry.subentries['interface_function'] -%}
<ul class="summary">
  {% for entry in entry.subentries['interface_function']|sort(attribute='name') %}
  <li class="public">
    {% if entry.sig_entries %}
    <!-- TODO(holtgrew): Why sig_entries? -->
    <span class="summary_signature"><code>{{ sig_entries[0].toString() }}</code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
    {% else %}
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {%- for s in entry.signatures -%}
        {{ s|transtext(False) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% for cl in entry.all_extended|sort %}
{% if doc.top_level_entries[cl].subentries['interface_function'] %}
<h3 data-toc="hidden">{{ qualifier }} Functions Inherited From {{ cl|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[cl].subentries['interface_function']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}

{% if entry.kind == 'class' or entry.kind == 'specialization' %}
{% for co in entry.all_implemented|sort %}
{% if doc.top_level_entries[co].subentries['interface_function']|sort(attribute='name') %}
<h3 data-toc="hidden">{{ qualifier }} Functions Inherited From {{ co|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[co].subentries['interface_function'] %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endif %}

</div>

{% endif %} {#{% if entry.hasSubEntry('interface_function', doc) %}#}
{% endmacro %}

<!--
Macro grouped_macros_ov(entry, doc)

Render the grouped macros overview
-->

{% macro grouped_macros_ov(entry, doc, qualifier='Grouped') %}
{% if entry.subentries['grouped_macro'] -%}
<div class="overview grouped_macros" data-lang-entity-container="macro">
<h2 data-lang-entity="macro">{{ qualifier }} Macros Overview</h2>

<table width="100%">
  {% for entry in entry.subentries['grouped_macro']|sort(attribute='name') %}
  <tr>
    {% if entry.sig_entries %}
    <td>{{ sig_entries[0].toString() }}{{ entry.brief|transtext }}</td>
    {% else %}
    <td><code><a href="#{{ entry.name|escape_anchor|url_encode }}">{{ entry.signatures[0].toHtmlLike(False) }}</a></code> {{ entry.brief|transtext }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

{% endmacro %}

<!--
Macro grouped_tags_ov(entry, doc)

Render the interface functions overview
-->

{% macro grouped_tags_ov(entry, doc, qualifier='Interface') %}
{% if entry.subentries['grouped_tag'] -%}
<div data-lang-entity-container="grouped_tag">
<h2 data-lang-entity="grouped_tag">{{ qualifier }} Tags Overview</h2>

<ul class="summary">
  {% for entry in entry.subentries['grouped_tag']|sort(attribute='name') %}
  <li class="public">
    {% if entry.sig_entries %}
    <span class="summary_signature"><code>{{ sig_entries[0].toString() }}</code></span>
    {% elif entry.signatures %}
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {%- for s in entry.signatures -%}
        {{ s|transtext(False) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
    </a></code></span>
    {% else %}
    <span class="summary_signature"><code>{{ entry.local_name }}</code></span>
    {% endif %}
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}

{% endmacro %}

<!--
Macro interface_metafunctions_ov(entry, doc)

Render the interface metafunctions overview
-->

{% macro interface_metafunctions_ov(entry, doc, qualifier='Interface') %}
{% if entry.hasSubEntry('interface_metafunction', doc) %}

<div data-lang-entity-container="interface_metafunction">
<h2 data-lang-entity="interface_metafunction">{{ qualifier }}  Metafunction Overview</h2>

{% if entry.subentries['interface_metafunction'] -%}
<ul class="summary">
  {% for entry in entry.subentries['interface_metafunction']|sort(attribute='name') %}
  <li class="public">
    {% if entry.sig_entries %}
    <!-- TODO(holtgrew): Why sig_entries? -->
    <span class="summary_signature"><code>{{ sig_entries[0].toString() }}</code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</td>
    {% else %}
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {%- for s in entry.signatures -%}
        {{ s|transtext(False) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% for cl in entry.all_extended|sort %}
{% if doc.top_level_entries[cl].subentries['interface_metafunction'] %}
<h3 data-toc="hidden">{{ qualifier }} Metafunctions Inherited From {{ cl|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[cl].subentries['interface_metafunction']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}

{% if entry.kind == 'class' or entry.kind == 'specialization' %}
{% for co in entry.all_implemented|sort %}
{% if doc.top_level_entries[co].subentries['interface_metafunction'] %}
<h3 data-toc="hidden">{{ qualifier }} Metafunctions Inherited From {{ co|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[co].subentries['interface_metafunction']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endif %}

</div>

{% endif %}  {#{% if entry.hasSubEntry('interface_metafunctions', doc) %}#}
{% endmacro %}

<!--
Macro member_variables_ov(entry, doc)

Render the member variables overview
-->
{% macro member_variables_ov(entry, doc, qualifier='Member') %}
{% if entry.hasSubEntry('member_variable', doc) %}

<div data-lang-entity-container="member_variable">
<h2 data-lang-entity="member_variable">{{ qualifier }} Variable Overview</h2>

{% if entry.subentries['member_variable'] -%}
<ul class="summary">
  {% for entry in entry.subentries['member_variable']|sort(attribute='name') %}
  <li class="public">
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {{ entry.type|e }} {{ entry.name|e }}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% for cl in entry.all_extended|sort %}
{% if doc.top_level_entries[cl].subentries['member_variable'] %}
<h3 data-toc="hidden">{{ qualifier }} Variables Inherited From {{ cl|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[cl].subentries['member_variable']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>

{% endif %}
{% endfor %}

{% if entry.kind == 'class' or entry.kind == 'specialization' %}
{% for co in entry.all_implemented|sort %}
{% if doc.top_level_entries[co].subentries['member_variable'] %}
<h3 data-toc="hidden">{{ qualifier }} Variable Inherited From {{ co|translink }}</h3>

<ul class="summary compact">
  {% for entry in doc.top_level_entries[co].subentries['member_variable']|sort(attribute='name') %}
  <li class="public"><span class="summary_signature"><code>{{ entry.name|translink(text=entry.local_name) }}</code></span></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endif %}

</div>

{% endif %}  {#{% if entry.hasSubEntry('member_variables', doc) %}#}
{% endmacro %}

<!--
Macro enum_values_ov(entry, doc)

Render the member variables overview
-->
{% macro enum_values_ov(entry, doc) %}
{% if entry.hasSubEntry('enum_value', doc) %}

<div data-lang-entity-container="enum">
<h2 data-lang-entity="enum">Enum Values Overview</h2>

{% if entry.subentries['enum_value'] -%}
<ul class="summary">
  {% for entry in entry.subentries['enum_value']|sort(attribute='name') %}
  <li class="public">
    <span class="summary_signature"><code><a href="#{{ entry.name|escape_anchor|url_encode }}" title="#{{entry.name}} (interface function)" data-lang-entity="{{entry.kind}}">
        {{ entry.type|e }} {{ entry.name|e }}
    </a></code></span>
    <span class="summary_desc">{{ entry.brief|transtext }}</span>
  </li>
  {% endfor %}
</ul>
{% endif %}

</div>

{% endif %}  {#{% if entry.hasSubEntry('enum_value', doc) %}#}
{% endmacro %}

<!--
Macro member_functions(entry)

Render the member functions details.
-->

{% macro member_functions(entry, qualifier='Member') %}
{{ interface_functions(entry, 'Member', 'member_function') }}
{% endmacro %}

<!--
Macro grouped_tags(entry)

Render the grouped macros details
-->

{% macro grouped_tags(entry, qualifier='Grouped') %}
{% if entry.subentries['grouped_tag'] -%}

<div class="grouped_tags_details" data-lang-entity-container="grouped_tag">
  <h2 data-lang-entity="grouped_tag">{{ qualifier }} Tags Detail</h2>

  {% for subentry in entry.subentries['grouped_tag']|sort(attribute='name') %}
  <div class="method_details{% if loop.first %} first{% endif %}">
    <h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}" class="signature{% if loop.first %} first{% endif %}" data-lang-entity="grouped_tag">
      <code>
          {%- if subentry.signatures -%}
          {%- for s in subentry.signatures: -%}
          {{ s|transtext(False) }}{% if not loop.last %}
{% endif -%}{%- endfor -%}
          {%- else -%}
          {{ subentry.local_name|e }}
          {%- endif -%}
      </code>
    </h3>

    {% if subentry.headerfiles %}
    <dl>
      <dt>Defined in</dt>
      <dd>
        {% for h in subentry.headerfiles|sort -%}
        {{ h|e }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </dd>
    </dl>
    {% endif %}

    <div class="docstring">
      <div class="discussion">
        {{ subentry.brief|transtext }}
      </div>
    </div>
    
    <dl>
      {% if subentry.tparams %}
      <dt>Template Parameters</dt>

      {% for param in subentry.tparams %}
      <dd>
        <code>{{ param.type|e }}</code> -
        {{ param.desc|transtext(False) }}
      </dd>
      {% endfor %}
      {% endif %}

      {% if subentry.sees %}
      <dt>See Also</dt>
      <dd>
        {% for link in subentry.sortedSees() %}
      <dd>{{ link|transtext(True) }}</dd>
      {% endfor %}
      </dd>
      {% endif %}
    </dl>

    <div class="docstring">
      <div class="discussion">
        {{ body(subentry, start_heading=4) }}
      </div>
    </div>
  </div>

{% endfor %}

</div>

{% endif %}
{% endmacro %}

<!--
Macro grouped_macros(entry)

Render the grouped macros details
-->

{% macro grouped_macros(entry, doc, qualifier='Grouped') %}
{% if entry.subentries['grouped_macro'] -%}
<div class="details grouped_macros" data-lang-entity-container="grouped_macro">
<h2 data-lang-entity="grouped_macro">{{ qualifier }} Macros Detail</h2>

{% for subentry in entry.subentries['grouped_macro']|sort(attribute='name') %}
<h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}">
  {{ subentry.name|e }}
</h3>

{% if subentry.headerfiles %}
<dl>
  <dt>Defined in</dt>
  <dd>
    {% for h in subentry.headerfiles|sort -%}
    {{ h|e }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </dd>
</dl>
{% endif %}

{% if subentry.signatures -%}
<code>
{%- for s in subentry.signatures: -%}
{{ s|transtext(False) }}
{% endfor -%}
</code>
{%- endif %}

<div class="brief">{{ subentry.brief|transtext }}</div>

<dl>
{% if subentry.params %}
  <dt>Parameters</dt>

  {% for param in subentry.params %}
  <dd>
    <code>{{ param.name|e }}</code>
    {% if param.in_out %}
    ({{ {'IN': 'in', 'OUT': 'out', 'IN_OUT': 'in,out'}.get(param.in_out)|e }})
    {% endif %} -
    {{ param.desc|transtext(False) }}
  </dd>
  {% endfor %}
{% endif %}

{% if subentry.tparams %}
  <dt>Template Parameters</dt>

  {% for param in subentry.tparams %}
  <dd>
    <code>{{ param.type|e }}</code> -
    {{ param.desc|transtext(False) }}
  </dd>
  {% endfor %}
{% endif %}

{% if subentry.returns %}
  <dt>Return Values</dt>

  {% for ret in subentry.returns %}
  <dd>
    <code>{{ ret.type|e }}</code> -
    {{ ret.desc|transtext(False) }}
  </dd>
  {% endfor %}
{% endif %}

{% if subentry.throws %}
  <dt>Thrown Exceptions</dt>

  {% for thr in subentry.throws %}
  <dd>
    <code>{{ thr.type|e }}</code> -
    {{ thr.desc|transtext(False) }}
  </dd>
  {% endfor %}
{% endif %}

{% if subentry.dataraces %}
  <dt>Data Races</dt>

  {% for datarace in subentry.dataraces %}
  <dd>
    {{ datarace.desc|transtext(False) }}
  </dd>
  {% endfor %}
{% else %}
  <dt>Data Races</dt>
  <dd>
    If not stated otherwise, concurrent invocation is not guaranteed to be thread-safe.
  </dd>
{% endif %}

{% if subentry.sees %}
  <dt>See Also</dt>
  <dd>
  {% for link in subentry.sortedSees() %}
  <dd>{{ link|transtext(True) }}</dd>
  {% endfor %}
  </dd>
{% endif %}
</dl>

{{ body(subentry, start_heading=4) }}

{% endfor %}

</div>
{% endif %}
{% endmacro %}

<!--
Macro interface_functions(entry)

Render the interface functions details
-->

{% macro interface_functions(entry, qualifier='Interface', key='interface_function') %}
{% if entry.subentries[key] -%}
<div class="{{ key|e }}_details" data-lang-entity-container="{{ key|e }}">
  <h2 data-lang-entity="{{ key|e }}">{{ qualifier }} Functions Detail</h2>

  {% for subentry in entry.subentries[key]|sort(attribute='name') %}
  <div class="method_details{% if loop.first %} first{% endif %}">
    <h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}" class="signature{% if loop.first %} first{% endif %}" data-lang-entity="{{key}}">
      <code>
          {%- for s in subentry.signatures: -%}
          {{ s|transtext(False) }}{% if not loop.last %}
{% endif -%}{%- endfor -%}
      </code>
    </h3>
  </div>

  {% if subentry.headerfiles and qualifier == 'Grouped' %}
  <dl>
    <dt>Defined in</dt>
    <dd>
      {% if subentry.headerfiles %}
      {% for h in subentry.headerfiles|sort -%}
      {{ h|e }}{% if not loop.last %}, {% endif %}
      {% endfor %}
      {% else %}
      &nbsp;
      {% endif %}
    </dd>
  </dl>
  {% endif %}

  {% if subentry.deprecation_msgs %}
  <div class="note deprecated">Deprecated. <div class='inline'>
      {% for msg in subentry.deprecation_msgs %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  {% if subentry.warnings %}
  <div class="note warnings">Warning. <div class='inline'>
      {% for msg in subentry.warnings %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  {% if subentry.notes %}
  <div class="note note">Note. <div class='inline'>
      {% for msg in subentry.notes %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  <div class="docstring">
    <div class="discussion">
      {{ subentry.brief|transtext }}
    </div>
  </div>

  {% if subentry.tparams %}
  <h4>Template Parameters</h4>
  <table class="overview">
    {% for param in subentry.tparams %}
    <tr>
        <th><code>{{ param.type|e }}</code></th>
        <td>{{ param.desc|transtext(False) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if subentry.params %}
  <h4>Parameters</h4>
  <table class="overview">
    {% for param in subentry.params %}
    <tr>
      <th>
        {% if param.in_out %}
            {% if param.in_out == 'IN' %}
                <code data-param-type="in" title="IN parameters are only read and not modified">{{ param.name|e }}</code>
            {% elif param.in_out == 'OUT' %}
                <code data-param-type="out" title="OUT parameters are modified and used as a means to return values">{{ param.name|e }}</code>
            {% elif param.in_out == 'IN_OUT' %}
                <code data-param-type="in_out" title="IN/OUT parameters are read and also modified by the called function">{{ param.name|e }}</code>
            {% else %}
                <code>{{ param.name|e }}</code>
            {% endif %}
        {% else %}
            <code>{{ param.name|e }}</code>
        {% endif %}
      </th>
      <td>{{ param.desc|transtext(False) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  
  {% if subentry.returns %}
  <h4>Returns</h4>
  <table class="overview">
    {% for ret in subentry.returns %}
    <tr>
        <th><code>{{ ret.type|e }}</code></th>
        <td>{{ ret.desc|transtext(False) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

	<!-- General description -->

  <div class="docstring">
    <div class="discussion">
      {{ body(subentry, start_heading=4) }}
    </div>
  </div>
 

  <!-- Throws Section -->
	
  {% if subentry.throws %}
  <h4>Thrown Exceptions</h4>
  <table class="overview">
    {% for thr in subentry.throws %}
    <tr>
        <th><code>{{ thr.type|e }}</code></th>
        <td>{{ thr.desc|transtext(False) }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  
  <!-- Data Races Section  -->
  
  <h4>Data Races</h4>
  <div class="discussion">
  {% if subentry.dataraces %}	
	{% for datarace in subentry.dataraces %}
  	<p>
    	{{ datarace.desc|transtext(False) }}
  	</p>
  	{% endfor %}
  {% else %}
    If not stated otherwise, concurrent invocation is not guaranteed to be thread-safe.
  {% endif %}
  </div>
	
	
  <!-- Sees section -->
  
  {% if subentry.sees %}
  <h4>See Also</h4>
  <ul>
    {% for link in subentry.sortedSees() %}
    <li>{{ link|transtext(True) }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}

</div>
{% endif %}
{% endmacro %}

<!--
Macro member_typedefs(entry)

Render the member typedef details
-->

{% macro member_typedefs(entry, qualifier='Member', key='member_typedef') %}
{% if entry.subentries[key] -%}
<div class="{{ key|e }}_defails" data-lang-entity-container="{{ key|e }}">
  <h2 data-lang-entity="member_typedef">{{ qualifier }} Typedef Detail</h2>

  {% for subentry in entry.subentries[key]|sort(attribute='name') %}
      <div class="method_details{% if loop.first %} first{% endif %}">
        <h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}" class="signature{% if loop.first %} first{% endif %}" data-lang-entity="{{key}}">
          <code>
              {%- for s in subentry.signatures: -%}
              {{ s|transtext(False) }}{% if not loop.last %}
    {% endif -%}{%- endfor -%}
          </code>
        </h3>
      </div>
      <div class="docstring">
        <div class="discussion">
          {{ subentry.brief|transtext }}
          {{ body(subentry, start_heading=4) }}
        </div>
      </div>

      {% if subentry.sees %}
      <div class="tags">
        <h4>See Also</h4>
        <ul class="see">
          {% for link in subentry.sortedSees() %}
            <li>{{ link|transtext(False)|translink }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  {% endfor %}
  
</div>
{% endif %}
{% endmacro %}

<!--
Macro interface_metafunctions(entry)

Render the interface metafunctions details
-->

{% macro interface_metafunctions(entry, qualifier='Interface') %}
{% if entry.subentries['interface_metafunction'] -%}
<div class="interface_metafunction_details" data-lang-entity-container="{{ key|e }}">
<h2 data-lang-entity="interface_metafunction">{{ qualifier }} Metafunctions Detail</h2>

{% for subentry in entry.subentries['interface_metafunction']|sort(attribute='name') %}
<div class="method_details{% if loop.first %} first{% endif %}">
  <h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}" class="signature{% if loop.first %} first{% endif %}" data-lang-entity="interface_metafunction">
    <code>
          {%- for s in subentry.signatures: -%}
          {{ s|transtext(False) }}{% if not loop.last %}
{% endif -%}{%- endfor -%}
    </code>
  </h3>

  {% if subentry.headerfiles and qualifier == 'Grouped' %}
  <dl>
    <dt>Defined in</dt>
    <dd>
      {% if subentry.headerfiles %}
      {% for h in subentry.headerfiles|sort -%}
      {{ h|e }}{% if not loop.last %}, {% endif %}
      {% endfor %}
      {% else %}
      &nbsp;
      {% endif %}
    </dd>
  </dl>
  {% endif %}

  {% if subentry.deprecation_msgs %}
  <div class="note deprecated">Deprecated. <div class='inline'>
      {% for msg in subentry.deprecation_msgs %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  {% if subentry.warnings %}
  <div class="note warnings">Warning. <div class='inline'>
      {% for msg in subentry.warnings %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  {% if subentry.notes %}
  <div class="note note">Note. <div class='inline'>
      {% for msg in subentry.notes %}
      <p>{{ msg|transtext(False) }}</p>
      {% endfor %}
  </div></div>
  {% endif %}

  <div class="docstring">
    <div class="discussion">
      {{ subentry.brief|transtext }}
    </div>
  </div>

  {% if subentry.tparams %}
  <h4>Template Parameters</h4>
    <table class="overview">
    {% for param in subentry.tparams %}
        <tr>
            <th><code>{{ param.type|e }}</code></th>
            <td>{{ param.desc|transtext(False) }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if subentry.returns %}
  <h4>Returns</h4>
    <table class="overview">
    {% for ret in subentry.returns %}
        <tr>
            <th><code>{{ ret.type|e }}</code></th>
            <td>{{ ret.desc|transtext(False) }}</td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}

  <div class="docstring">
    <div class="discussion">
      {{ body(subentry, start_heading=4) }}
    </div>
  </div>
</div>

{% endfor %}

</div>
{% endif %}
{% endmacro %}

<!--
Macro member_variables(entry)

Render the member variables details
-->

{% macro member_variables(entry, qualifier='Member') %}
{% if entry.subentries['member_variable'] -%}
<div class="member_variable_details" data-lang-entity-container="member_variable">
  <h2 data-lang-entity="member_variable">{{ qualifier }} Variables Detail</h2>

  {% for subentry in entry.subentries['member_variable']|sort(attribute='name') %}
  <div class="member_variable_details{% if loop.first %} first{% endif %}">
    <h3 data-toc="hidden" id="{{ subentry.name|escape_anchor }}" class="signature{% if loop.first %} first{% endif %}" data-lang-entity="member_variable">
      <code>{{ subentry.type|e }} {{ subentry.name|e }}</code>
    </h3>
    <div class="docstring">
      <div class="discussion">
        {{ subentry.brief|transtext }}
        {{ body(subentry, start_heading=4) }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endmacro %}

<!--
Macro enum_values(entry)

Render the member enum details
-->

{% macro enum_values(entry, qualifier='Member') %}
{% if entry.subentries['enum_value'] -%}
<div class="enum_value_details" data-lang-entity-container="enum">

  <h2 data-lang-entity="enum">Enum Values</h2>

  <table class="overview">
    {% for subentry in entry.subentries['enum_value'] %}
         <tr>
            <th><code>{{ subentry.local_name|e }}</code></th>
            <td>
                {{ subentry.brief|transtext }}
                {{ body(subentry, start_heading=3) }}
            </td>
        </tr>
    {% endfor %}
  </table>
</div>

{% endif %}
{% endmacro %}

<!--
Macro params(entry)

Render the parameter details.
-->

{% macro params(entry) %}

{% if entry.params %}
<h2>Parameters</h2>

<table class="overview">
{% for param in entry.params %}
    <tr>
        <th>
        {% if param.in_out %}
            {% if param.in_out == 'IN' %}
                <code data-param-type="in" title="IN parameters are only read and not modified">{{ param.name|e }}</code>
            {% elif param.in_out == 'OUT' %}
                <code data-param-type="out" title="OUT parameters are modified and used as a means to return values">{{ param.name|e }}</code>
            {% elif param.in_out == 'IN_OUT' %}
                <code data-param-type="in_out" title="IN/OUT parameters are read and also modified by the called function">{{ param.name|e }}</code>
            {% else %}
                <code>{{ param.name|e }}</code>
            {% endif %}
        {% else %}
        <code>{{ param.name|e }}</code>
        {% endif %}
        </th>
        <td>{{ param.desc|transtext(False) }}</td>
    </tr>
{% endfor %}
</table>

{% endif %}
{% endmacro %}

<!--
Macro tparams(entry)

Render the template parameter details.
-->

{% macro tparams(entry) %}

{% if entry.tparams %}
<div data-lang-entity-container="template_parameter">
<h2 data-lang-entity="template_parameter">Template Parameters</h2>

<table class="overview">
{% for param in entry.tparams %}
    <tr>
        <th><code>{{ param.type|e }}</code></th>
        <td>{{ param.desc|transtext(False) }}</td>
    </tr>
{% endfor %}
</table>

</div>
{% endif %}
{% endmacro %}

<!--
Macro tparams_ov(entry)

Render the template parameter overview.
-->

{% macro tparams_ov(entry) %}
{% if entry.tparams %}

{% if entry.tparams %}
<div data-lang-entity-container="template_parameter">
<h2 data-lang-entity="template_parameter">Template Parameters</h2>

<table class="overview">
{% for param in entry.tparams %}
    <tr>
        <th><code><a href="#" data-lang-entity="template_parameter">{{ param.type|e }}</a></code></th>
        <td>{{ param.desc|transtext(False) }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endif %}

{% endif %}
{% endmacro %}

<!--
Macro return_values(entry)

Render the template parameter details.
-->

{% macro return_values(entry) %}
{% if entry.returns %}
<h2>Return Values</h2>

<table class="overview">
{% for ret in entry.returns %}
    <tr>
        <th><code>{{ ret.type|e }}</code></th>
        <td>{{ ret.desc|transtext(False) }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endmacro %}

<!--
Macro throws(entry)

Render the throw details.
-->

{% macro throws(entry) %}
{% if entry.throws %}
<h2>Thrown Exceptions</h2>

<table class="overview">
{% for thr in entry.throws %}
    <tr>
        <th><code>{{ thr.type|e }}</code></th>
        <td>{{ thr.desc|transtext(False) }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endmacro %}

<!--
Macro dararaces(entry)

Render the dataraces details.
-->

{% macro dataraces(entry, h_level=2) -%}
<h{{ h_level }} class="clause_header">Data Races</h{{ h_level }}>
{% if entry.dataraces %}
	<div class="summary compact">
		{% for draces in entry.dataraces %}
    	<p>
    		{{ draces.desc|transtext(False) }}
    	</p>
		{% endfor %}
	</div>
{% else %}
	<div class="summary compact">
 		If not stated otherwise, concurrent invocation is not guaranteed to be thread-safe.
	</div>
{% endif %}
{%- endmacro %}

<!--
Macro dox_source(entry)

Render toggle-able Dox-like documentation.
-->

{% macro dox_source(entry, in_comment=False) %}

<div class="modal fade" id="doxSources" tabindex="-1" role="dialog" aria-labelledby="doxSourcesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="doxSourcesLabel">Dox Sources</h4>
      </div>
      <div class="modal-body">
        <pre>{{ entry|to_dox(in_comment=in_comment)|e }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endmacro %}
