{% extends "base.html" %}

{% block title %}{{ shortcut.title|e }}{% endblock %}

{% block banner %}
<h1 data-lang-entity="shortcut" data-pimped="true"><a href="page_LanguageEntities.html#shortcut">Ctrl+C</a> <span>{{ shortcut.title|e }} Shortcut Reference<div>{{ sections.brief(shortcut) }}</div></span></h1>
{% endblock %}

{% block content %}

<div class="overview">
	{{ sections.signatures(shortcut) }}
</div>

<!-- @internal -->
{% if shortcut.internals %}
<div class="note internal"><strong>Internal:</strong> <div class='inline'>
    <p>For internal use only.</p>
</div></div>
{% endif %}

<!-- @deprecated -->
{% if shortcut.deprecation_msgs %}
    {% for msg in shortcut.deprecation_msgs %}
    <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
        <p>{{ msg|transtext(False) }}</p>
    </div></div>
    {% endfor %}
{% endif %}

<!-- @warning -->
{% if shortcut.warnings %}
    {% for msg in shortcut.warnings %}
    <div class="note warning"><strong>Warning:</strong> <div class='inline'>
        <p>{{ msg|transtext(False) }}</p>
    </div></div>
    {% endfor %}
{% endif %}

<!-- @note -->
{% if shortcut.notes %}
    {% for msg in shortcut.notes %}
    <div class="note info"><strong>Note:</strong> <div class='inline'>
        <p>{{ msg|transtext(False) }}</p>
    </div></div>
    {% endfor %}
{% endif %}

<!-- @aka -->
{% if shortcut.akas %}
<div class="note aka"><strong>Also known as:</strong> <div class='inline'>
    <p>{{ shortcut.akas|join(', ') }}</p>
</div></div>
{% endif %}

<!-- paragraphs -->
{{ sections.body(shortcut) }}

<!-- @see -->
{{ sections.see_also(shortcut, in_comment=True) }}

{% endblock %}
