{% extends "base.html" %}

{% block title %}{{ typedef.title|e }}{% endblock %}

{% block content %}
<h1 data-lang-entity="typedef" data-pimped="true">
  <a href="page_LanguageEntities.html#typedef">Typedef</a> <span>{{ typedef.title|e }}<div>{{ sections.brief(typedef) }}</div></span>
</h1>

{{ sections.top_box(typedef) }}

{% if typedef.internals or typedef.deprecation_msgs or typedef.warnings or typedef.notes or typedef.akas or not typedef.body.empty %}
<h2>Overview</h2>
<div class="docstring">
  <div class="discussion">
    <!-- @internal -->
    {% if typedef.internals %}
    <div class="note internal"><strong>Internal:</strong> <div class='inline'>
        <p>For internal use only.</p>
    </div></div>
    {% endif %}

    <!-- @deprecated -->
    {% if typedef.deprecation_msgs %}
        {% for msg in typedef.deprecation_msgs %}
        <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @warning -->
    {% if typedef.warnings %}
        {% for msg in typedef.warnings %}
        <div class="note warning"><strong>Warning:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
        </div></div>
        {% endfor %}
    {% endif %}

    <!-- @note -->
    {% if typedef.notes %}
        {% for msg in typedef.notes %}
        <div class="note info"><strong>Note:</strong> <div class='inline'>
            <p>{{ msg|transtext(False) }}</p>
         </div></div>
        {% endfor %}
    {% endif %}

    <!-- @aka -->
    {% if typedef.akas %}
    <div class="note aka"><strong>Also known as:</strong> <div class='inline'>
        <p>{{ typedef.akas|join(', ') }}</p>
    </div></div>
    {% endif %}

    <!-- paragraphs -->
    {{ sections.body(typedef) }}
  </div>
</div>
{% endif %}

<!-- @see -->
{{ sections.see_also(typedef) }}

<!--
 =============================================================================
  Footer / Debug
 =============================================================================
-->

{{ sections.dox_source(typedef, in_comment=True) }}

{% endblock %}
