name: Windows

on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

concurrency:
  group: windows-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: windows-2022
    timeout-minutes: 180
    if: github.repository_owner == 'seqan' || github.event_name == 'workflow_dispatch'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Visual Studio 17 2022"
            vsversion : 2022
            build_type: Release
            cxx_flags: "/std:c++latest"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          vsversion: ${{ matrix.vsversion }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Python dependencies
        run: |
          pip install setuptools wheel
          pip install -r manual/requirements.txt

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2

      - name: Install conda dependencies
        run: conda install -c conda-forge boost-cpp bzip2 libxml2 zlib

      - name: Configure tests
        run: |
          New-Item -Name "build" -ItemType "directory" -Force
          cd build
          cmake .. -G "${{ matrix.name }}" `
                   -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
                   -DCMAKE_CXX_FLAGS="${{ matrix.cxx_flags }} /EHsc /W2 /wd4244 /wd4146" `
                   -DSEQAN_DISABLE_VERSION_CHECK=ON `
                   -DSEQAN_GH_ACTIONS_BUILD:BOOL=ON `
                   -DPython3_ROOT_DIR=$env:pythonLocation `
                   -DPython3_EXECUTABLE=$env:pythonLocation/bin/python3

      - name: Build tests
        run: |
          cd build
          cmake --build . --config "${{ matrix.build_type }}" --parallel 2 -- /p:ContinueOnError=ErrorAndContinue

      - name: Run tests
        continue-on-error: true
        id: test
        run: |
          cd build
          ctest . -j2 -C "${{ matrix.build_type }}" --output-on-failure --timeout 240 -E "app_test_yara"

      - name: Rerun failed tests
        if: steps.test.outcome == 'failure'
        run: |
          cd build
          ctest . -j2 -C "${{ matrix.build_type }}" --output-on-failure --timeout 240 --rerun-failed
