# SPDX-FileCopyrightText: 2006-2025 Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2025 Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0

name: Deploy documentation (https://docs.seqan.de/)

on:
  push:
    branches:
      - 'main'

concurrency:
  group: documentation-${{ github.ref }}
  cancel-in-progress: false

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -lex {0}

jobs:
  my_job:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.repository_owner == 'seqan'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: seqan
          environment-file: manual/environment.yml

      - name: Build documentation
        run: |
          cd dox
          cp dox_only.sh.in dox_only.sh
          chmod 775 dox_only.sh
          ./dox_only.sh

      - name: Deploy Documentation
        uses: seqan/actions/documentation_deploy_production@main
        with:
          deploy_host: ${{ secrets.DEPLOY_HOST }}
          deploy_user: ${{ secrets.DEPLOY_USER }}
          deploy_ssh_key: ${{ secrets.DEPLOY_SSH_KEY }}
          source_path_user_doc: dox/html/
          deploy_path_user_doc: ${{ secrets.DEPLOY_PRODUCTION_BASE_PATH }}/main
